.spacer {
    flex: auto;
}

.admin_log {
    background-color: black;
}

.side-nav {
    margin-top: 65px;
    position: fixed;
}

.toolbar {
    padding: 0 12% 0 12%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.custom-icon {
    transform: scale(1.5);
}

.profile-menu {
    margin-top: 500px;
    background-color: #fff;
}


.person-contenair {
    /* background-color: red; */
    border-radius: 100%;
    /* border-width: 10px; */
    padding-top: 3px;
    border-style: solid;
    border-color: #e9e6e6;
    width: 40px;
}


.bokkitt-icon {
    /* margin-left: 400px; */

    mat-icon {
        transform: scale(1.5);
    }

    span {
        font-weight: 600;
    }
}

.bokkitt-nav {
    button {
        font-weight: 600;
    }

    mat-icon {
        transform: scale(1.4);
    }
}

.login-phone {
    display: none;
}

.menu-drawer {
    display: none;
}

.user-profile {
    width: 100%;
    height: 100px;
    /* background-color: #7a7a7a; */
    padding: 5px;
    border-radius: 12px;

    mat-card-header {
        display: flex;
        justify-content: center;
        /* background-color: #e9e6e6; */
        padding-bottom: 5px;
        border-radius: 6px;

        mat-icon {
            transform: scale(1.5);
            color: #a81650;
        }
    }

    mat-card-content {
        display: flex;
        justify-content: center;

        button {
            margin-top: 5px;
        }
    }
}


@media (max-width: 768px) {

    .bokkitt-icon {
        /* display: nne; */
    }

    .login-phone {
        display: flex;
    }

    .bokkitt-icon {
        margin-left: 0px;
    }

    .custom-menu-icon {
        transform: scale(2);
    }

    .menu-drawer {
        display: block;
        margin-top: 15px;
    }

    .toolbar {
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .bokkitt-nav {
        display: none;
    }

}


::ng-deep .mat-menu-phone {
    margin-top: 10px;
    background-color: #a81650 !important;
    border-radius: 20px !important;
}



::ng-deep .mat-menu-phone-profile {
    margin-left: 5px;
    margin-top: 15px;
    background-color: #7a7a7a !important;
    border-radius: 20px !important;
}