<mat-toolbar color="primary" class="toolbar">
    <button routerLink="/home" mat-icon-button class="bokkitt-icon">
        <mat-icon> directions_car </mat-icon>
        <span> Bokkitt </span>
    </button>

    <span class="spacer">
    </span>
    <div class="bokkitt-nav">
        <button mat-button routerLink="/home"
            *ngIf=" !authService.roles || authService.roles && authService.roles.includes('USER')">
            <mat-icon> search </mat-icon>
            Rechercher trajet
        </button>
        <button mat-button routerLink="/suggest-traject"
            *ngIf=" !authService.roles">
            <mat-icon> person_add </mat-icon>
            Demander trajet
        </button>
        <button mat-button routerLink="/ride-request"
            *ngIf="authService.roles && authService.roles.includes('USER')">
            <mat-icon> person_add </mat-icon>
            Demander trajet
        </button>

        <button mat-button routerLink="/add-trip"
            *ngIf=" !authService.roles || authService.roles && authService.roles.includes('DRIVER')">
            <mat-icon> add_circle </mat-icon>
            Annoncer trajet
        </button>
        <button mat-button routerLink="/driver-ride-request"
            *ngIf=" authService.roles && authService.roles.includes('DRIVER')">
            <mat-icon> query_builder </mat-icon>
            Liste de demande
        </button>

        <!-- <button mat-button routerLink="/login">
            <mat-icon> perm_identity </mat-icon>
            Connexion
        </button> -->
        <button mat-button routerLink="/choose-profile" *ngIf="authService.authentificated==false">
            Connexion
        </button>

        <button mat-button [mat-menu-trigger-for]="importMenu" *ngIf="authService.authentificated==true">
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
            <div class="person-contenair">
                <mat-icon class="custom-icon">person</mat-icon>
            </div>
            <!-- {{authService.username}} -->
        </button>
        <!-- <button mat-button routerLink="profile"> Mes-Trajets </button> -->

        <!-- <button mat-button *ngIf="authService.roles.includes('ADMIN')">
        Annoncer un trajet
    </button> -->
        <mat-menu #importMenu class="profile-menu mat-menu-phone-profile">
            <button mat-menu-item routerLink="informations"> Mes informations</button>
            <button mat-menu-item routerLink="load-students"
                *ngIf="authService.roles && authService.roles.includes('ADMIN')"> Mes clients</button>
            <button mat-menu-item routerLink="load-payments"> Hitstorique de trajet</button>

            <button mat-menu-item (click)="logout()">
                <mat-icon> exit_to_app </mat-icon>
                Déconnexion
            </button>
        </mat-menu>

    </div>

    <!-- <button mat-button class="menu-drawer" (click)="drawerId.toggle()"> -->
    <button mat-button class="menu-drawer" [matMenuTriggerFor]="beforeMenu">
        <mat-icon class="custom-menu-icon">menu</mat-icon>

        <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu-phone">
            <mat-card class="user-profile">
                <mat-card-header>
                    <mat-icon color="primary"> person </mat-icon>

                </mat-card-header>
                <mat-card-content>
                    <button mat-raised-button *ngIf="authService.authentificated==true" routerLink="/informations">
                        Hello Mohammed
                    </button>
                    <button mat-raised-button *ngIf="authService.authentificated==false" routerLink="/login">
                        Connexion
                    </button>
                </mat-card-content>
            </mat-card>
            <button mat-menu-item routerLink="/home"
                *ngIf=" !authService.roles || authService.roles && authService.roles.includes('USER')">

                <mat-icon> search </mat-icon>
                Rechercher trajet
            </button>
            <button mat-menu-item routerLink="/ride-request"
                *ngIf=" !authService.roles || authService.roles && authService.roles.includes('USER')">
                <mat-icon> person_add </mat-icon>
                Demander trajet
            </button>
            <button mat-menu-item routerLink="/suggest-traject"
                *ngIf=" !authService.roles || authService.roles && authService.roles.includes('DRIVER')">
                <mat-icon> add_circle </mat-icon>
                Annoncer trajet
            </button>
            <button mat-menu-item routerLink="/driver-ride-request"
                *ngIf=" !authService.roles || authService.roles && authService.roles.includes('DRIVER')">
                <mat-icon> query_builder </mat-icon>
                Liste de demande
            </button>
            <button mat-menu-item routerLink="/informations" *ngIf="authService.authentificated==true">
                <mat-icon> filter_b_and_w </mat-icon>
                Mes informations
            </button>
            <button mat-menu-item>
                <mat-icon> live_help </mat-icon>
                A propos
            </button>
            <button mat-menu-item *ngIf="authService.authentificated==true" (click)="logout()">
                <mat-icon> exit_to_app </mat-icon>
                Deconnexion
            </button>
        </mat-menu>
    </button>

    <div class="bokkitt-nav-phone">

    </div>



</mat-toolbar>

<mat-drawer-container>
    <!-- <mat-drawer #drawerId mode="side" class="side-nav" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button routerLink="dashboard">
                    <mat-icon>dashboard</mat-icon>
                    Mes Trajets
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="students">
                    <mat-icon>dashboard</mat-icon>
                    Trajets en Demande
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="payments">
                    <mat-icon>dashboard</mat-icon>
                    Trajet prevus
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer> -->
    <mat-drawer-content>
        <div style="min-height: 868px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>