.spacer {
    flex: auto;
}

.admin_log {
    background-color: black;
}

.side-nav {
    margin-top: 65px;
    position: fixed;
}

.toolbar {
    padding: 0 12% 0 12%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.custom-icon {
    transform: scale(1.5);
}

.profile-menu {
    margin-top: 500px;
    background-color: #fff;
}


.person-contenair {
    /* background-color: red; */
    border-radius: 100%;
    /* border-width: 10px; */
    padding-top: 3px;
    border-style: solid;
    border-color: #9e0f48;
    width: 40px;
}


.bokkitt-icon {
    /* margin-left: 400px; */

    mat-icon {
        transform: scale(1.5);
    }

    span {
        font-weight: 600;
    }
}

.bokkitt-nav {
    button {
        font-weight: 600;
    }

    mat-icon {
        transform: scale(1.4);
    }
}

.menu-drawer {
    display: none;
}

@media (max-width: 768px) {
    .bokkitt-icon {
        margin-left: 0px;
    }

    .custom-menu-icon {
        transform: scale(2);
    }

    .menu-drawer {
        display: block;
        margin-top: 15px;
    }

    .toolbar {
        padding: 0;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .bokkitt-nav {
        display: none;
    }

}


::ng-deep .mat-menu-phone {
    margin-top: 10px;
    background-color: #a81650 !important;
    border-radius: 20px !important;
}
