<div class="form-container" [formGroup]="passwordForm">
  <mat-form-field>
    <mat-label>Mot de passe actuel</mat-label>
    <input matInput type="password" formControlName="currentPassword">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput type="password" formControlName="newPassword">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirmer le mot de passe</mat-label>
    <input matInput type="password" formControlName="confirmPassword">
  </mat-form-field>

  <div *ngIf="passwordForm.hasError('passwordMismatch')" class="error-message">
    Les mots de passe ne correspondent pas.
  </div>

  <div class="button-cont">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button mat-dialog-close [disabled]="passwordForm.invalid" (click)="tryUpdatePassword()">Valider</button>
  </div>
</div>

<!-- <div class="form-container" [formGroup]="passwordForm">
    <mat-form-field>
      <mat-label>Mot de passe actuel</mat-label>
      <input matInput type="password" formControlName="currentPassword">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
  
    <div *ngIf="passwordForm.hasError('passwordMismatch')" class="error-message">
      Les mots de passe ne correspondent pas.
    </div>
  
    <div class="button-cont">
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-button mat-dialog-close [disabled]="passwordForm.invalid">Valider</button>
    </div>
  </div> -->
  
