.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.button-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 60px;
}


@media (max-width: 768px) {
    .button-cont {
        gap: 50px;
    } 
}