<div class="container">
    <mat-card class="card-table">
        <mat-card-header class="search-header">
            <mat-form-field class="search-custom" appearance="outline">
                <input matInput [formControl]="myControl" [(ngModel)]="filterValues.departure" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">

                    @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-label>Depart</mat-label>
            </mat-form-field>
            <mat-icon> redo </mat-icon>
            <mat-form-field class="destination-input" appearance="outline">
                <input matInput [(ngModel)]="filterValues.destination" [formControl]="myControl2"
                    [(ngModel)]="filterValues.destination" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">

                    @for (option of filteredOptions2 | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-label>Destination</mat-label>
            </mat-form-field>
            <button class="search-button" (click)="filterTraject()" mat-raised-button
                color="primary">Rechercher</button>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

            <div *ngIf="clientRequestList != []">

                <table mat-table [dataSource]="clientRequestList"
                    class="mat-elevation-z1 custom-table request-container">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="title-suggest"
                                *ngIf="dataSource && dataSource.length !== 0 || dataSource && dataSource.length !== null">
                                <h2>
                                    Si vous ne trouvez pas de trajet correspondant a vos critéres vous pouvez créé une
                                    demande
                                    <button mat-raised-button routerLink="/suggest-traject" color="primary"
                                        class="demand-traject">Faire une
                                        proposition</button>
                                </h2>
                            </div>
                            <mat-card-title
                                *ngIf="filterValues.departure && filterValues.destination && dataSource.filteredData.length !== 0"
                                color="primary">

                            </mat-card-title>
                            <div *ngIf="dataSource &&  dataSource.filteredData.length === 0" class="no-results"
                                color="primary">
                                <h2>Aucun covoiturage trouvé pour vos critères. Vous pouvez faire une proposition de
                                    trajet
                                    pour qu'un
                                    chauffeur réponde à votre demande.</h2>
                                <button mat-raised-button routerLink="/suggest-traject" color="primary"
                                    class="demand-traject">Faire une
                                    proposition</button>
                            </div>
                        </th>

                        <td mat-cell *matCellDef="let item">
                            <div class="date-header vdem" *ngIf="tmpDate !== 'Vdem'">
                                {{updateTmpDate("Vdem")}}
                                <h2>
                                    Vos demandes en cours
                                </h2>
                            </div>
                            <mat-card class="table-comp-subscribe">
                                <mat-card-header>
                                    <p> {{ item.departure }} </p>
                                    <mat-icon color="primary">redo</mat-icon>
                                    <p> {{ item.destination }} </p>
                                    <mat-divider></mat-divider>
                                </mat-card-header>
                                <mat-card-content class="traject-contanair">
                                    <div class="traject">
                                        <div class="depart-date">
                                            <mat-icon>access_time</mat-icon>
                                            <p>
                                                {{ item.date | date: 'EEEE d MMMM' : 'UTC' }}
                                            </p>
                                        </div>
                                        <div class="nb-place">
                                            <p> +{{ item.numberrequest }} Places </p>
                                        </div>
                                    </div>
                                    <div class="add-me">
                                        <button mat-raised-button color="primary">
                                            7h/9h
                                        </button>
                                        <button mat-raised-button class="btn-await">
                                            En attente de confirmation
                                        </button>
                                        <button mat-raised-button class="btn-cancel"
                                            (click)="openDialog({ Encode : 'cancel-me', Element : item})">
                                            Annuler
                                        </button>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </td>

                    </ng-container>
                    <ng-container matColumnDef="">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <button (click)="getPayments(element)" mat-raised-button color="primary">Payements</button> -->
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>


            <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 custom-table request-container">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- <div class="title-suggest" *ngIf="dataSource.length !== 0 || dataSource.length !== null">
                            <h2>
                                Si vous ne trouvez pas de trajet correspondant a vos critéres vous pouvez créé une
                                demande
                                <button mat-raised-button routerLink="/suggest-traject" color="primary"
                                    class="demand-traject">Faire une
                                    proposition</button>
                            </h2>
                        </div>
                        <mat-card-title
                            *ngIf="filterValues.departure && filterValues.destination && dataSource.filteredData.length !== 0"
                            color="primary">
        
                        </mat-card-title>
                        <div *ngIf="dataSource.filteredData.length === 0" class="no-results" color="primary">
                            <h2>Aucun covoiturage trouvé pour vos critères. Vous pouvez faire une proposition de trajet
                                pour qu'un
                                chauffeur réponde à votre demande.</h2>
                            <button mat-raised-button routerLink="/suggest-traject" color="primary"
                                class="demand-traject">Faire une
                                proposition</button>
                        </div> -->
                    </th>
                    <mat-card-title *ngIf="dataSource === []" color="primary">Demande en cours
                        {{filterValues.departure}}
                        vers
                        {{filterValues.destination}}
                    </mat-card-title>


                    <td mat-cell *matCellDef="let element">
                        <div class="date-header" *ngIf="tmpDate !== element.date && !element.isSubscribe">
                            {{updateTmpDate(element.date)}}
                            <h2>
                                {{ element.date | date: 'EEEE d MMMM' : 'UTC' }}
                            </h2>
                        </div>

                        <mat-card *ngIf="!element.isSubscribe" class="table-comp"
                            (click)="openDialog({ Encode : 'add-me', Element : element})">
                            <mat-card-header>
                                <p> {{element.departure}} </p>
                                <mat-icon color="primary">redo</mat-icon>
                                <p> {{element.destination}} </p>
                                <mat-divider></mat-divider>
                            </mat-card-header>
                            <mat-card-content class="traject-contanair">
                                <div class="traject">
                                    <div class="depart-date">
                                        <mat-icon>access_time</mat-icon>
                                        <!-- <p> {{ element.date}} </p> -->
                                    </div>
                                    <div class="nb-place">
                                        <p> +{{ element.numberrequest }} Demande </p>
                                    </div>
                                </div>
                                <div class="add-me">
                                    <button mat-raised-button color="primary">
                                        {{element.time}}
                                    </button>
                                    <button mat-raised-button color="primary">
                                        ajouter moi
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>


                        <mat-card *ngIf="element.isSubscribe" class="table-comp-subscribe">
                            <mat-card-header>
                                <p> {{element.departure}} </p>
                                <mat-icon color="primary">redo</mat-icon>
                                <p> {{element.destination}} </p>
                                <mat-divider></mat-divider>
                            </mat-card-header>
                            <mat-card-content class="traject-contanair">
                                <div class="traject">
                                    <div class="depart-date">
                                        <mat-icon>access_time</mat-icon>
                                        <!-- <p> {{ element.date}} </p> -->
                                    </div>
                                    <div class="nb-place">
                                        <p> +{{element.numberrequest}} Places </p>
                                    </div>
                                </div>
                                <div class="add-me">
                                    <button mat-raised-button color="primary">
                                        7h/9h
                                    </button>
                                    <button mat-raised-button class="btn-await">
                                        En attente de confirmation
                                    </button>
                                    <!-- <button mat-raised-button class="btn-cancel"
                                        (click)="openDialog({ Encode : 'cancel-me', Element : element})"> -->
                                    <button mat-raised-button class="btn-cancel"
                                        (click)="cancelClienTriprequests(element.id)">
                                        Annuler
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </td>



                </ng-container>
                <ng-container matColumnDef="">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <button (click)="getPayments(element)" mat-raised-button color="primary">Payements</button> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>

<!-- <div>
    <footer >
      <mat-toolbar class="footer">
        <span>&copy; 2024 EvolBoost</span>
        <span class="spacer"></span>
        <a mat-button href="/about">À propos</a>
        <a mat-button href="/contact">Contact</a>
        <a mat-button href="/privacy">Politique de confidentialité</a>
      </mat-toolbar>
    </footer>
    
  </div> -->