<div class="container">
    <mat-card class="card-table">
        <mat-card-header class="search-header">
            <mat-form-field class="search-custom" appearance="outline">
                <input matInput [formControl]="myControl" [(ngModel)]="filterValues.depart" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">

                    @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-label>Depart</mat-label>
            </mat-form-field>
            <mat-icon> redo </mat-icon>
            <mat-form-field class="destination-input" appearance="outline">
                <input matInput [(ngModel)]="filterValues.destination" [formControl]="myControl2"
                    [(ngModel)]="filterValues.destination" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">

                    @for (option of filteredOptions2 | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-label>Destination</mat-label>
            </mat-form-field>
            <button class="search-button" (click)="filterTraject()" mat-raised-button
                color="primary">Rechercher</button>


        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 custom-table request-container">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-card-title
                            *ngIf="filterValues.depart && filterValues.destination && dataSource.filteredData.length !== 0"
                            color="primary">Demande en cours {{filterValues.depart}} vers
                            {{filterValues.destination}}</mat-card-title>
                        <div *ngIf="dataSource.filteredData.length === 0" class="no-results" color="primary">
                            <h2>Aucun covoiturage trouvé pour vos critères. Vous pouvez faire une proposition de trajet
                                pour qu'un
                                chauffeur réponde à votre demande.</h2>
                            <button mat-raised-button routerLink="/proposer-trajet" color="primary"
                                class="demand-traject">Faire une
                                proposition</button>
                        </div>
                    </th>
                    <mat-card-title *ngIf="dataSource === []" color="primary">Demande en cours {{filterValues.depart}}
                        vers
                        {{filterValues.destination}}</mat-card-title>

                    <td mat-cell *matCellDef="let element">
                        <mat-card 
                        *ngIf="!element.isSubscribe"
                        class="table-comp" (click)="openDialog({ Encode : 'add-me', Element : element})">
                            <mat-card-header>
                                <p> {{element.depart}} </p>
                                <mat-icon color="primary">redo</mat-icon>
                                <p> {{element.destination}} </p>
                                <mat-divider></mat-divider>
                            </mat-card-header>
                            <mat-card-content class="traject-contanair">
                                <div class="traject">
                                    <div class="depart-date">
                                        <mat-icon>calendar_today</mat-icon>
                                        <p> {{ element.date}} </p>
                                    </div>
                                    <div class="nb-place">
                                        <p> +5 Places </p>
                                    </div>
                                </div>
                                <div class="add-me">
                                    <button mat-raised-button color="primary">
                                        7h/9h
                                    </button>
                                    <button mat-raised-button color="primary">
                                        ajouter moi
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>


                        <mat-card 
                        *ngIf="element.isSubscribe"
                        class="table-comp-subscribe">
                            <mat-card-header>
                                <p> {{element.depart}} </p>
                                <mat-icon color="primary">redo</mat-icon>
                                <p> {{element.destination}} </p>
                                <mat-divider></mat-divider>
                            </mat-card-header>
                            <mat-card-content class="traject-contanair">
                                <div class="traject">
                                    <div class="depart-date">
                                        <mat-icon>calendar_today</mat-icon>
                                        <p> {{ element.date}} </p>
                                    </div>
                                    <div class="nb-place">
                                        <p> +5 Places </p>
                                    </div>
                                </div>
                                <div class="add-me">
                                    <button mat-raised-button color="primary">
                                        7h/9h
                                    </button>
                                    <button mat-raised-button class="btn-await">
                                        En attente de confirmation 
                                    </button>
                                    <button mat-raised-button class="btn-cancel" (click)="openDialog({ Encode : 'cancel-me', Element : element})">
                                        Annuler
                                    </button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </td>



                </ng-container>
                <ng-container matColumnDef="">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <button (click)="getPayments(element)" mat-raised-button color="primary">Payements</button> -->
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users">
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>

<!-- <div>
    <footer >
      <mat-toolbar class="footer">
        <span>&copy; 2024 EvolBoost</span>
        <span class="spacer"></span>
        <a mat-button href="/about">À propos</a>
        <a mat-button href="/contact">Contact</a>
        <a mat-button href="/privacy">Politique de confidentialité</a>
      </mat-toolbar>
    </footer>
    
  </div> -->