mat-card {
    color: rgb(41, 40, 40);
    width: 80%;
    background-color: transparent;
  }
  
  mat-card-header {
    display: flex;
    justify-content: center;
  }
  
  mat-card-content {
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  mat-card-title {
    color: #b9155c;
    font-size: 26px;
  }
  
  
  .title-comp {
    width: 92%;
    height: 70px;
    background-color: #19a107b5;
    padding: 10px 2px 2px 15px;
  }
  
  .title-comp-past {
    width: 92%;
    height: 70px;
    background-color: #5e5e5eb5;
    padding: 10px 2px 2px 15px;
  }
  
  .title {
    width: 85%;
    color: #ffffff;
    margin-left: -11px;
  
    border-width: 10px;
    /* border-color: ; */
    display: block;
    justify-content: space-between;
    border-radius: 15px;
    
  }
  
  /* General Style */
  
  /* Colours */
  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: #eee9dc;
  }
  
  h2 {
    margin: 3em 0 0 0;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  /* Timeline */
  
  #timeline {
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 5px solid #19a107;
  }
  
  #timeline li {
    margin: 40px 0;
    position: relative;
  }
  
  #timeline p {
    margin: 0 0 15px;
  }
  
  .date {
    margin-top: -10px;
    top: 30%;
    left: -158px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
  }
  
  .circle {
    margin-top: -10px;
    top: 30%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #27e027;
    border: 5px solid #eee9dc;
    border-radius: 50%;
    display: block;
    position: absolute;
  }
  
  .radio:checked + .relative .circle {
    border: 5px solid #b6c9b0;
  }
  
  .circle-past {
    margin-top: -10px;
    top: 30%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: rgb(138, 138, 138);
    border: 8px solid #eee9dc;
    border-radius: 50%;
    display: block;
    position: absolute;
  }
  
  .content {
    max-height: 20px;
    padding: 4px 20px 0;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.5em;
    position: relative;
  }
  
  .content:before,
  .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
  }
  
  .content .card:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }
  
  .content .card:after {
    border-right-color: #b9155c;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }
  
  .content .card {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }
  
  label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 20px;
    transition: transform 0.2s linear;
  }
  
  .radio {
    display: none;
  }
  
  .relative {
    margin-left: 10px;
  }
  
  .radio:checked+.relative label {
    cursor: auto;
    transform: translateX(7px);
  }
  
  .radio:checked~.content {
    max-height: 180px;
    /* border-color: #0aad17; */
    background-color: #35df354f;
    margin-right: 20px;
    transform: translateX(8px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
  }
  
  .radio:checked~.past {
    /* border-color: #555555; */
    background-color: #5f5e5e4f;
  
    button {
      display: none;
    }
  
    
  }
  
  .radio:checked~.content .card {
    max-height: 200px;
    color: #2c2c2c;
    transition: color 0.3s linear 0.3s;
  }
  
  
  
  .card {
    width: 100%;
    height: 170px;
    /* background-color: red; */
  
    .card-comp {
      margin-top: 10px;
      width: 100%;
      height: 30px;
      /* background-color: green; */
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .card-comp h2 {
      font-size: 12px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    button {
      margin: 0;
      height: 30px;
    }
  
    .comp-title {
      color: #b9155c;
    }
  
    .cancel-btn {
      background-color: red;
    }
  }
  
  
  .date-depart {
    font-style: italic;
    font-size: 17px;
    display: none;
  }
  
  .time-component {
    width: 100%;
    height: 20px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
  
    .depart-hours {
      color: #b9155c;
    }
  }
  
  /* Mobile phones */
  @media screen and (max-width: 767px) {
    /* #timeline {
      margin-left: 0;
      padding-left: 0;
      border-left: none;
    } */
  
    #timeline {
      /* padding-left: 0; */
      margin: 50px 0 30px 10px;
    }
  
  
    #timeline li {
      margin: 50px 0;
    }
  
    .date {
      display: none;
    }
  
    .date-depart {
      display: flex;
    }
  }
  
  
  
  
  @media (max-width : 480px) {
  
    .date-depart {
      font-style: italic;
      font-size: 17px;
    }
    
    mat-card {
      width: 100%;
    }
  
    mat-card-content {
      padding: 0;
    }
  
    mat-card-header {
      padding: 0;
    }
  }