<mat-card>
    <mat-card-header>
        <mat-card-title>
            Mes trajets
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <ul *ngFor="let item of dataSource;  index as i" id="timeline">
                 <!-- {{setTmpData(item)}} -->
                <!-- {{tmpData.departure }} {{i}} -->

                <li class='work'>
                    <input class='radio' id='work{{i}}' name='works' type='radio'>
                    <div class="relative">
                        <div class="{{ checkDate(item.date) ? 'title-comp' : 'title-comp-past' }}">
                            <label class="title" for='work{{i}}'>
                                <p> {{item.departure}} -> {{item.destination}} </p>
                                <div class="time-component">
                                    <p class="date-depart"> {{item.date}} </p>
                                    <p class="depart-hours"> {{ item.time }} </p>
                                </div>
                            </label>
    
                        </div>
                        <span class='date'> {{ item.date | date: 'EEEE d MMMM' : 'UTC' }}</span>
                        
                        <span class="{{checkDate(item.date) ? 'circle' : 'circle-past'}}"></span>
                    </div>
                    <div class="content  {{checkDate(item.date) ? '' : 'past'}} ">
                        <div class="card">
                            <div class="card-comp">
                                <h2 class="comp-title">Tarif :</h2>
                                <h2>{{ item.price }}FCFA</h2>
                            </div>
                            <div class="card-comp">
                                <h2 class="comp-title">ID :</h2>
                                <h2>{{item.id}}</h2>
                            </div>
                            <div class="card-comp">
                                <h2 class="comp-title">Nombre de Place :</h2>
                                <h2> {{ item.seat }} </h2>
                            </div>
                            <div class="card-comp">
                                <button mat-raised-button color="primary" (click)="myTrip(item.id)">Consulter</button>
                                <button mat-raised-button class="cancel-btn" (click)="onClickRemoveTrip(item.id)">Annuler</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
    </mat-card-content>
</mat-card>