<div class="card-comp">
    <mat-card class="example-card" >
        <mat-card-header>
            <mat-card-title > Dakar Thies </mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="https://www.photo-paysage.com/albums/userpics/10001/thumb_Crepuscule_sur_le_lac_Leman.jpg" class="img-card"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Trajet demain a 11h depart de dakar vers thies heure de rendez 
                vous a 13h30
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Plus d'infos</button>
            <button mat-button>Contactez</button>
        </mat-card-actions>
    </mat-card>
</div>