<div class="container">
    <!-- <div id="logo">
        <h1 class="logo">Bokkitt</h1>
    </div> -->

    <div class="leftbox">
        <nav class="nav-left">
            <a (click)="activateSection('profile')" [ngClass]="{'active': activeSection === 'profile'}">
                <mat-icon> person</mat-icon>
            </a>
            <a id="payment" (click)="activateSection('payment')" [ngClass]="{'active': activeSection === 'payment'}">
                <mat-icon> payment</mat-icon>
            </a>

            <a id="subscription" (click)="activateSection('subscription')"
                [ngClass]="{'active': activeSection === 'subscription'}">
                <mat-icon> date_range</mat-icon>
            </a>
            <a id="privacy" (click)="activateSection('privacy')" [ngClass]="{'active': activeSection === 'privacy'}">
                <mat-icon> home</mat-icon>
            </a>
            <a id="settings" (click)="activateSection('settings')" [ngClass]="{'active': activeSection === 'settings'}">
                <mat-icon> settings</mat-icon>
            </a>
        </nav>
    </div>

    <div class="rightbox">
        <div *ngIf="activeSection === 'profile'" class="profile-contenair">
            <mat-card>
                <mat-card-header>
                    <h1>
                        Identifiants
                    </h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div class="list-contenair">

                                <h2>
                                    Téléphone
                                </h2>
                                <div>
                                    <p>
                                        787536469
                                    </p>
                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="list-contenair">

                                <h2>
                                    Mot de passe
                                </h2>
                                <div>

                                    <p>
                                        *********
                                    </p>

                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>

                </mat-card-content>
            </mat-card>
            <mat-card class="card-2">
                <mat-card-header>
                    <h1>
                        Informations
                    </h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                    Nom
                                </h2>
                                <div>
                                    <p>
                                        Uzumaki
                                    </p>

                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                    Prénom
                                </h2>
                                <div>
                                    <p>
                                        Naruto
                                    </p>
                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                    Age
                                </h2>
                                <div>

                                    <p>
                                        24
                                    </p>

                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                    Sex
                                </h2>
                                <div>

                                    <p>
                                        Male
                                    </p>

                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                    Ville
                                </h2>
                                <div>

                                    <p>
                                        Dakar
                                    </p>

                                    <button mat-raised-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </div>

                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                    Permis
                                </h2>
                                <div class="insert-licence-contanair">
                                    <a href="path/to/your/document.pdf" target="_blank">{{ licenceName }}</a>
                                </div>

                            </div>

                        </mat-list-item>
                        <mat-list-item>
                            <div class="list-contenair">
                                <h2>
                                </h2>
                                <div class="insert-licence-contanair">
                                    <!-- <mat-icon (click)="insertLicense()"  class="insertLicense">
                                        insert_drive_file</mat-icon> -->
                                    <label for="fileUpload" class="custom-file-upload">
                                        <span class="fileName"> inserer un permis </span>
                                        <mat-icon class="insert-license-icon"> move_to_inbox </mat-icon>

                                    </label>
                                    <input id="fileUpload" class="licence-upload" type="file"
                                        (change)="onFileSelected($event)" style="display: none;">
                                    <!-- <span id="fileName" class="fileName">{{ licenceName }}</span> -->

                                </div>
                            </div>

                        </mat-list-item>
                    </mat-list>

                </mat-card-content>
            </mat-card>
        </div>

        <div *ngIf="activeSection === 'payment'" class="payment">

        </div>

        <div *ngIf="activeSection === 'subscription'" class="subscription">
            <h1>Your Subscription</h1>
            <h2>Payment Date</h2>
            <p>05-15-2018 <button class="btn">pay now</button></p>
            <h2>Your Next Charge</h2>
            <p>$8.48 <span> includes tax</span></p>
            <h2>Hulu Base Plan</h2>
            <p>Limited Commercials <button class="btn">change plan</button></p>
            <h2>Add-ons</h2>
            <p>None <button class="btn">manage</button></p>
            <h2>Monthly Recurring Total</h2>
            <p>$7.99/month</p>
        </div>

        <div *ngIf="activeSection === 'privacy'" class="privacy">
            <h1>Privacy Settings</h1>
            <h2>Manage Email Notifications <button class="btn">manage</button></h2>
            <h2>Manage Privacy Settings <button class="btn">manage</button></h2>
            <h2>View Terms of Use <button class="btn">view</button></h2>
            <h2>Personalize Ad Experience <button class="btn">update</button></h2>
            <h2>Protect Your Account <button class="btn">protect</button></h2>
        </div>

        <div *ngIf="activeSection === 'settings'" class="settings">
            <h1>Account Settings</h1>
            <h2>Sync Watchlist to My Stuff <button class="btn">sync</button></h2>
            <h2>Hold Your Subscription <button class="btn">hold</button></h2>
            <h2>Cancel Your Subscription <button class="btn">cancel</button></h2>
            <h2>Your Devices <button class="btn">Manage Devices</button></h2>
            <h2>Referrals <button class="btn">get $10</button></h2>
        </div>
    </div>
</div>