<div class="container">
    <!-- <div id="logo">
        <h1 class="logo">Bokkitt</h1>
    </div> -->

    <div class="leftbox">
        <nav class="nav-left">
            <a (click)="activateSection('profile')" [ngClass]="{'active': activeSection === 'profile'}">
                <mat-icon> person</mat-icon>
            </a>
            <a id="payment" (click)="activateSection('payment')" [ngClass]="{'active': activeSection === 'payment'}">
                <mat-icon> date_range</mat-icon>
            </a>
    <!-- 
                <a id="subscription" (click)="activateSection('subscription')"
                    [ngClass]="{'active': activeSection === 'subscription'}">
                    <mat-icon> update</mat-icon>
                </a>
                <a id="privacy" (click)="activateSection('privacy')" [ngClass]="{'active': activeSection === 'privacy'}">
                    <mat-icon> home</mat-icon>
                </a>
                <a id="settings" (click)="activateSection('settings')" [ngClass]="{'active': activeSection === 'settings'}">
                    <mat-icon> settings</mat-icon>
                </a> -->
        </nav>
    </div>

    <div class="rightbox">
        <div *ngIf="activeSection === 'profile'" class="profile-contenair">
            <app-profile-infos />
        </div>

        <div *ngIf="activeSection === 'payment'" class="payment">
            <app-reservation-list/>
        </div>

        <div *ngIf="activeSection === 'subscription'" class="subscription">
            <app-reservation-list/>

        </div>

        <div *ngIf="activeSection === 'privacy'" class="privacy">
            <app-reservation-list/>

        </div>

        <div *ngIf="activeSection === 'settings'" class="settings">
            <app-reservation-list/>
        </div>
    </div>
</div>