<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon> waves </mat-icon>
        Bokkitt
    </button>
    <span class="spacer">
    </span>
    <button mat-button routerLink="/home"> Offre trajet </button>
    <button mat-button routerLink="/profile"> A Propos </button>
    <mat-menu #importMenu>
        <button mat-menu-item routerLink="/load-students"> Load Students</button>
        <button mat-menu-item routerLink="/load-payments"> Load Payments</button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container>

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">
                    <mat-icon class="subscribe-icon" color="primary">person_add</mat-icon>
                    <span>
                        S'inscrire

                    </span>
                </label>
                <input type="text" name="firstName" placeholder="Nom" [(ngModel)]="signupObj.firstName">
                <input type="text" name="lastName" placeholder="Prenom" [(ngModel)]="signupObj.lastName">
                <input type="number" name="phoneNumber" placeholder="Numero de telephone" [(ngModel)]="signupObj.phoneNumber">
                <input type="password" name="pswd" placeholder="Mot de passe" [(ngModel)]="signupObj.password">
                <button class="button-form" (click)="onSignUp()">
                    En route
                </button>
            </form>
        </div>

        <div class="login">
            <form>
                <label class="form-login" for="chk" aria-hidden="true">Se connecter</label>
                <input type="number" name="number" placeholder="number" [(ngModel)]="loginObj.phoneNumber">
                <input type="password" name="pswd" placeholder="Password" [(ngModel)]="loginObj.password">
                <button class="button-form" (click)="onLogin()"> Se connecter</button>
            </form>
        </div>
    </div>
    <!-- <span>
        <div class="login-container">
 
            <mat-card [formGroup]="loginFormGroup">
                <mat-card-header>
                    <mat-card-title>Authentification</mat-card-title>
                </mat-card-header>
                <mat-divider class="driver-contain"></mat-divider>

                <mat-card-content>
                        <mat-label>Username or email</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" (click)="login()">
                        Login
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </span> -->

</mat-drawer-container>