<div class="trip-contenair">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Annoncer un trajet
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="time">


                <mat-stepper orientation="vertical" #stepper>
                    <mat-step>
                        <form>
                            <ng-template matStepLabel> Ville de départ / arrivée et prix</ng-template>
                            <div class="date-time-title">
                                <h4> Date et heure : </h4>
                                <mat-icon matSuffix>calendar_today</mat-icon>
                            </div>

                            <div class="date-time-conetainer">
                                <app-date-input />
                                <app-time-picker />

                                <!-- <mat-form-field class="step-one-form">
                                    <mat-label>Nombre de place</mat-label>
                                    <mat-select disableRipple>
                                        <mat-option value="1">1 place</mat-option>
                                        <mat-option value="2">2 places</mat-option>
                                        <mat-option value="3">3 places</mat-option>
                                        <mat-option value="4">4 places</mat-option>
                                        <mat-option value="5">5 places</mat-option>
                                    </mat-select>
                                </mat-form-field> -->


                                <!-- <button mat-button matStepperNext>Next</button> -->

                                <!-- <button mat-raised-button class="step-one-button" color="primary" matStepperNext>
                                    Confirmer
                                </button> -->
                            </div>
                            <div class="date-time-title">
                                <h4> Lieux de depart et arrivé : </h4>
                                <mat-icon matSuffix>redo</mat-icon>
                            </div>


                            <div class="recap-contenair">
                                <div class="principal-point-container">
                                    <div class="point-container top">
                                        <mat-form-field class="search-custom" appearance="outline">
                                            <input matInput [formControl]="myControl" [(ngModel)]="filterValues.depart"
                                                [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete">

                                                @for (option of filteredOptions | async; track option) {
                                                <mat-option [value]="option">{{option}}</mat-option>
                                                }
                                            </mat-autocomplete>
                                            <mat-label>Depart</mat-label>
                                        </mat-form-field>
                                        <div class="point"></div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="point-container bottom">
                                        <div class="point"></div>
                                        <mat-form-field class="destination-input" appearance="outline">
                                            <input matInput [(ngModel)]="filterValues.destination"
                                                [formControl]="myControl2" [(ngModel)]="filterValues.destination"
                                                [matAutocomplete]="auto2">
                                            <mat-autocomplete #auto2="matAutocomplete">

                                                @for (option of filteredOptions2 | async; track option) {
                                                <mat-option [value]="option">{{option}}</mat-option>
                                                }
                                            </mat-autocomplete>
                                            <mat-label>Destination</mat-label>
                                        </mat-form-field>
                                    </div>
                                </div>


                                <!-- <div class="container-2">
                                    <div> <span class="descritpion">Télephone :</span> 066175766 </div>

                                    <div class="label"> <span class="descritpion"> Prix passager
                                            :</span> 14 000 FCFA</div>
                                    <div class="label"> <span class="descritpion">Nombre de passager
                                            :</span> 4</div>

                                    <div class="total"> <span class="descritpion"> Prix total :
                                        </span>14 000 FCFA</div>

                                </div> -->
                            </div>

                            <button mat-raised-button class="step-one-button" color="primary" matStepperNext>
                                Suivant
                            </button>

                        </form>
                    </mat-step>
                    <mat-step>
                        <form class="price-form">
                            <ng-template matStepLabel>Prix et preference</ng-template>

                            <div class="preference">
                                <h2>Preference</h2>
                                <form class="preference-form" #form="ngForm" (ngSubmit)="alertFormValues(form.form)">
                                    <mat-slide-toggle ngModel name="enableWifi" color="primary"
                                        class="custom-slide-toggle">Fumeur</mat-slide-toggle>
                                    <mat-slide-toggle ngModel name="acceptTerms" color="primary"
                                        class="custom-slide-toggle toggle-animal" required>Animaux</mat-slide-toggle>
                                </form>

                            </div>

                            <app-price-slider />

                            <div class="place">
                                <h2>Place/Trajet</h2>

                                <mat-form-field appearance="fill" class="traject-input">
                                    <mat-label>Place</mat-label>
                                    <input matInput placeholder="Nombre de place" type="text" pattern="\d*" ngModel
                                        name="nombrePlace" #nombrePlace="ngModel"
                                        (keypress)="validateNumberInput($event)" required>

                                    <mat-icon matSuffix color="primary">airline_seat_legroom_normal</mat-icon>
                                    <!-- <mat-error *ngIf="nombrePlace.invalid && (nombrePlace.dirty || nombrePlace.touched)"
                                        class="custom-error">
                                        Entrer uniquement des chiffres
                                    </mat-error> -->
                                </mat-form-field>
  
                                <mat-form-field class="route-autoroute">
                                    <mat-label>National/Autoroute</mat-label>
                                    <mat-select>
                                      @for (food of foods; track food) {
                                        <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                                      }
                                    </mat-select>
                                  </mat-form-field>
                            </div>

                            <button mat-raised-button class="step-one-button" color="primary" matStepperNext>
                                Suivant
                            </button>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Payment</ng-template>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Confirmation</ng-template>
                    </mat-step>
                </mat-stepper>


            </div>
        </mat-card-content>
    </mat-card>
</div>