.trip-contenair {
  background-color: rgb(102, 102, 102);
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
}

.trip-contenair mat-card {
  margin-top: 10px;
  padding: 0 5px 0 5px;
  background-color: rgb(92, 91, 91);
  width: 100%;
  max-width: 800px;
  height: 800px;
}

mat-card-header {
  background-color: #9e0f48e5;
  display: flex;
  justify-content: center;
  justify-items: center;

  mat-card-title {
    margin-bottom: 10px;
  }

  border-radius: 20px;
}


mat-card-content {
  margin-top: 10px;
  /* background-color: rgb(78, 80, 79); */
  width: 100%;
  height: 400px;
  padding: 0;
  
  .time {
    /* padding: 10px; */
    background-color: rgb(68, 75, 75);
    width: 100%;
    height: 100px;

    h3 span {
      color: #9e0f48ee;
      font-weight: 600;
    }
  }

  .custom-input-time {
    width: 150px;
  }
}


/* --------------------------------------------- */


.step-one-form {
  margin-top: 15px;
}

.step-one-button {
  height: 40px;
  width: 50%;
  border-radius: 40px;
  margin: 15px 0 15px 0;
}

.principal-point-container {
  /* background-color: #3a1926; */
  width: 320px;
  position: relative;
  height: 340px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.date-time-conetainer {
  margin-top: 15px;
  display: flex;

  app-time-picker {
    margin-left: 10px;
  }
}

.date-time-title {
  display: flex;

  mat-icon {
    margin-left: 10px;
    color: #e1216d;
    transform: scale(0.9);
  }

  .mat-vertical-content {
    padding: 0 24px 24px 15px;
  }
}

.price-form {
  margin-left: -10px;
}


.preference {
  h2 {
    margin-left: 15px;
    font-size: large;
  }
}


.preference-form {
  /* background-color: gray; */
  margin-left: 23px;
  max-width: 315px;
  display: flex;
  justify-content: space-between;
}



.place {
  margin-left: 15px;
  /* background-color: #9e0f48 ; */

  h2 {
    font-size: large;
  }

  mat-form-field {
    margin-left: 7px;
  }

  .custom-error {
    color: #e1216d;
    font-weight: bold;
  }

}

.route-autoroute {
  max-width: 170px;
}

.traject-input {
  max-width: 150px;
}


@media (max-width: 768px) {
  .traject-input {
    max-width: 130px;
  }

  .route-autoroute {
    max-width: 130px;
  }

}

.meeting-point {
  margin-left: 14px;
}
/* 
.mat-stepper-vertical {
  background-color:#d8296f;
} */

.last-step {
  .place {
    margin-top: 25px;
  }
}


.meeting-point {
  width: 100%;
}

.no-resize {
  max-height: 100px; 
  resize: none;
}
