
.trip-contenair {
    background-color: rgb(143, 143, 143);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
}

.trip-contenair mat-card {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(92, 91, 91);
    width: 100%;
    max-width: 800px;
    height: 800px;
}

mat-card-header {
    background-color: #9e0f48e5;
    display: flex;
    justify-content: center; 
    justify-items: center;
    mat-card-title {
        margin-bottom: 10px;
    }
    border-radius: 20px;
}


mat-card-content { 
    margin-top: 20px;
    background-color: rgb(78, 80, 79);
    width: 100%;
    height: 400px;
    padding: 0;

    .time {
        /* padding: 10px; */
        background-color: rgb(68, 75, 75);
        width: 100%;
        height: 100px;

        h3 span {
            color: #9e0f48ee;
            font-weight: 600;
        }
    }

    .custom-input-time {
        width: 150px;
    }
}


/* --------------------------------------------- */




/* mat-card-title {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
} */

/* @media (max-width: 768px) {
  mat-card-title {
    width: 100%;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }
} */


.step-one-form {
  margin-top: 15px;
}

.step-one-button {
  margin-left: 30px;
  height: 55px;
  border-radius: 40px;
  margin-bottom: 15px;
}


.recap-contenair {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  /* background-color: rgb(97, 66, 66); */
  display: flex;
}



/* ttttttttest */

.container {
  /* background-color: #3a1926; */
  width: 120px;
  position: relative;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.point-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.point {
  width: 10px;
  height: 10px;
  background-color: #9e0f48;
  border-radius: 50%;
}

.label {
  font-weight: 400;
  color: #ffffff;
}

.top .label {
  margin-bottom: 10px;
}

.bottom .label {
  margin-top: 10px;
}

.line {
  width: 2px;
  background-color: #ffffff;
  flex-grow: 1;
}


.container-2 {
  padding-top: 10px;
  /* background-color: #3a1926; */
  width: 200px;
  height: 140px;
  margin-left: 4px;

  .label {
    margin-top: 10px;
    font-weight: 400;
    color: #ffffff;
  }

  .total {
    margin-top: 40px;
    font-weight: 400;
    color: #ffffff;
    font-weight: bold;
  }
}

.descritpion {
  color: #e1216d;
  font-weight: bold
}

.mat-drawer-container {
  height: 800px;
}

.payment-form {
  margin-top: 20px;
  border-width: none;
}


.date-time-conetainer {
  margin-top: 15px;
  display: flex;

  app-time-picker {
    margin-left: 10px;
  }
}

.date-time-title {
  display: flex;
  
  mat-icon {
    margin-left: 10px;
    color: #e1216d;
    transform: scale(0.9);
  }
}