<div color="primary" class="trip-container">
    <mat-drawer-container class="drawer-content">
        <mat-drawer-content>

            <mat-card appearance="outlined" class="trip-card">
                <mat-card-header color="primary" class="header1">
                    <mat-card-title class="date">
                        <!-- Mer. 17 juillet -->
                        {{ trajectData.date | date: 'EEEE d MMMM' : 'UTC' }}
                    </mat-card-title>
                    <!-- <mat-card-title> {{trajectData.date}} </mat-card-title> -->

                    <div class="container-price">
                        <div class="traject-price">
                            <mat-card-title class="price-card">
                                Place :
                                    {{ trajectData.price}}                                
                                FCFA
                                <!-- Place : {{trajectData.price}} FCFA -->
                            </mat-card-title>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content class="contenair-dep-dest">
                    <mat-card class="depart-card" appearance="outlined">
                        <mat-card-header class="depart-header" color="primary">
                            <!-- <mat-icon> local_taxi</mat-icon> -->
                            <mat-card-title class="header-title"> Details Trajet </mat-card-title>
                            <!-- <mat-card-title> Depart : {{trajectData.depart}} </mat-card-title> -->
                        </mat-card-header>
                        <mat-card-content>
                            <br>
                            <div class="depart-icon">
                                <mat-icon> access_time </mat-icon>
                                <p>
                                    {{trajectData.time}}
                                    <!-- {{formatTime(trajectData.time)}} -->
                                </p>
                            </div>
                            <div class="depart-icon">
                                <!-- <mat-icon> work </mat-icon> -->
                                <mat-icon> location_on </mat-icon>
                                <p> Point de départ: {{trajectData.departuredesc }}</p>
                            </div>
                            <div class="depart-icon">
                                <!-- <mat-icon> work </mat-icon> -->
                                <mat-icon> map </mat-icon>
                                <p> Point de chute: {{trajectData.destinationdesc}}</p>
                            </div>
                            <div class="depart-icon">
                                <mat-icon> airline_seat_legroom_normal </mat-icon>
                                <p> Place disponible : {{trajectData.seat}}</p>
                            </div>
                            <!-- <div class="depart-icon">
                                    <mat-icon> ac_unit </mat-icon>
                                    <p> Clime : Disponible </p>
                                </div> -->
                            <!-- <div class="depart-warning">
                                <mat-icon> warning </mat-icon>
                                <p> On vous recommande d'être en avance d'au moins 15 minutes. </p>
                            </div> -->
                        </mat-card-content>
                    </mat-card>
                    <!-- <mat-icon class="arrow-icon" color="primary"> arrow_downward </mat-icon> -->

                    <mat-card class="driver-contenair" appearance="outlined">
                        <mat-card-header color="primary">
                            <mat-card-title class="header-title"> Details: Chauffeur Voiture </mat-card-title>
                        </mat-card-header>
                        <div class="driver-conten">

                            <div class="driver-card">
                                <mat-card-header color="primary">
                                    <mat-card-title class="header-driver"> Chauffeur </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p> Nom: {{userData.firstname}} {{userData.lastname}} </p>
                                </mat-card-content>
                                <mat-card-content>
                                    <p> Notes: 4/5 </p>
                                </mat-card-content>
                            </div>

                            <div class="driver-card">
                                <mat-card-header color="primary">
                                    <mat-card-title class="header-driver"> Voiture</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p> Type: {{trajectData.cartype}} </p>
                                </mat-card-content>
                                <mat-card-content>
                                    <p> Baggage Payant:  {{trajectData.bag ? "Oui" : "Non"}} </p>
                                </mat-card-content>
                                <mat-card-content>
                                    <p> Capacité Baggage: {{trajectData.badcap}} </p>
                                </mat-card-content>
                                <mat-card-content *ngIf="trajectData.bag">
                                    <p> Prix Baggage: {{trajectData.bagpay}} FCFA </p>
                                </mat-card-content>
                                <mat-card-content>
                                    <p> Clim: {{trajectData.clim ? "Oui" : "Non"}} </p>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>

                    <mat-card class="destination-card" appearance="outlined">
                        <mat-card-header color="primary">
                            <mat-card-title class="header-title"> Préférences </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="depart-icon">
                                <!-- <mat-icon> work </mat-icon> -->
                                <mat-icon> smoke_free </mat-icon>
                                <p *ngIf="trajectData.smoke"> Fumeur accepter</p>
                                <p *ngIf="!trajectData.smoke"> Non Fumeur</p>
                            </div>
                            <div class="depart-icon">
                                <!-- <mat-icon> work </mat-icon> -->
                                <mat-icon> work </mat-icon>
                                <p> Capacité bagage limitee {{trajectData.bagcap}}</p>
                            </div>
                            <div class="depart-icon">
                                <!-- <mat-icon> work </mat-icon> -->
                                <mat-icon> pets </mat-icon>
                                <!-- <p *ngIf="trajectData." > Animaux autoriser</p> -->
                                <p> Animaux interdit</p>
                            </div>
                        </mat-card-content>
                    </mat-card>


                </mat-card-content>
                <div class="reservation-button">
                    <button mat-raised-button (click)="onClickReserved()" color="primary">
                        <mat-icon> date_range </mat-icon>
                        Demande de reservation
                    </button>
                </div>
            </mat-card>
            <br>
        </mat-drawer-content>

    </mat-drawer-container>
</div>