html, body {
    height: 100%;
    margin: 0;
  }

mat-form-field {
    display: block;
}

.login-container {
    width: 600px;
    max-width: 8000px;
    /* justify-content: center; */
    /* margin: auto; */
    margin-top: 15.7vh;
    margin-bottom: 50vh;
    background-color: aliceblue;
}

.spacer {
    flex: auto;
}

.admin_log {
    background-color: black;
}

.driver-contain {
    margin-top: 5px;
    margin-bottom: 20px;
}