<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon> waves </mat-icon>
        Bokkett
    </button>
    <span class="spacer">
    </span>
    <button mat-button routerLink="/admin/home"> Offre trajet </button>
    <button mat-button routerLink="/admin/profile"> Country </button>
    <mat-menu #importMenu>
        <button mat-menu-item routerLink="/admin/load-students"> Load Students</button>
        <button mat-menu-item routerLink="/admin/load-payments"> Load Payments</button>
    </mat-menu>
</mat-toolbar>
<div color="primary" class="trip-container">
    <mat-drawer-container class="drawer-content">
        <mat-drawer-content>

            <mat-card appearance="outlined" class="trip-header">
                <mat-card-header color="primary" class="header1">
                    <mat-card-title>Mer. 17 juillet</mat-card-title>
                    <!-- <mat-card-title> {{trajectData.date}} </mat-card-title> -->

                    <div class="container-price">
                        <div class="traject-price">
                            <mat-card-title class="price-card">
                                Place : 14 000 FCFA
                                <!-- Place : {{trajectData.price}} FCFA -->
                            </mat-card-title>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content class="contenair-dep-dest">
                    <mat-card class="depart-card" appearance="outlined">
                        <mat-card-header color="primary">
                            <!-- <mat-icon> local_taxi</mat-icon> -->
                            <mat-card-title> Depart : Dakar </mat-card-title>
                            <!-- <mat-card-title> Depart : {{trajectData.depart}} </mat-card-title> -->
                        </mat-card-header>
                        <mat-card-content>
                            <br>
                            <div class="depart-time">
                                <mat-icon> access_time </mat-icon>
                                <p>
                                    Heure de rendez vous : 10h30
                                </p>
                            </div>
                            <div class="depart-time">
                                <mat-icon> airline_seat_legroom_normal </mat-icon>
                                <p> Place disponible : 3 </p>
                            </div>
                            <div class="depart-time">
                                <mat-icon> work </mat-icon>
                                <p> Capacité baguage : 3 valises </p>
                            </div>
                            <div class="depart-time">
                                <mat-icon> work </mat-icon>
                                <p> Clime : 3 valises </p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <mat-icon class="arrow-icon" color="primary"> arrow_downward </mat-icon>

                    <mat-card class="destination-card" appearance="outlined">
                        <mat-card-header color="primary">
                            <mat-card-title> Destination : Saly </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p> Heure d'arriver : 11h20 </p>
                        </mat-card-content>
                    </mat-card>

                </mat-card-content>
                <div class="reservation-button">
                    <button mat-raised-button color="primary">
                        <mat-icon> date_range </mat-icon>

                        Demande de reservation
                    </button>
                </div>
            </mat-card>
            <br>
            <!-- <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>Mer. 17 juillet</mat-card-title>
                <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-button>Learn More</button>
            </mat-card-actions>
        </mat-card> -->
        </mat-drawer-content>

    </mat-drawer-container>
</div>