<div *ngIf="activeSection === 'profile'" class="profile-contenair">

    <mat-card>
        <mat-card-header>
            <h1
                [ngStyle]="{'color': authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }">
                Identifiants
            </h1>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Téléphone
                        </h2>
                        <div>
                            <p>
                                {{userData.phonenumber}}
                            </p>
                            <button mat-raised-button (click)="openDialog({ En: 'phone', Fr: 'numéro de téléphone' })"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Mot de passe
                        </h2>
                        <div>
                            <p>
                                *********
                            </p>
                            <button mat-raised-button (click)="openDialog({ En :'password', Fr : 'mot de passe' })"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-2">
        <mat-card-header>
            <h1
                [ngStyle]="{'color': authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }">
                Informations
            </h1>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Prénom
                        </h2>
                        <div>
                            <p>
                                {{ userData.firstname }}
                            </p>
                            <button mat-raised-button (click)="openDialog({ En : 'firstName', Fr : 'prénom' })"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Nom
                        </h2>
                        <div>
                            <p>
                                {{ userData.lastname }}
                            </p>
                            <button mat-raised-button (click)="openDialog({ En : 'lastName', Fr : 'Nom' })"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Age
                        </h2>
                        <div>

                            <p>
                                {{ userData.age == undefined ? "Veillez remplire" : userData.age}}
                            </p>

                            <button mat-raised-button (click)="openDialog({En :'old', Fr : 'age'})" color="primary"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Genre
                        </h2>
                        <div>

                            <p>
                                {{userData.gender == undefined ? "Veillez remplire" : userData.gender }}
                            </p>

                            <button mat-raised-button (click)="openDialog({En : 'sex', Fr :  'genre'})" color="primary"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>

                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Ville
                        </h2>
                        <div>
                            <p>
                                {{ userData.city == undefined ? "veillez remplire" : userData.city }}
                            </p>
                            <button mat-raised-button (click)="openDialog({En : 'city', Fr : 'ville'})" color="primary"
                                [ngStyle]="{'background-color' : authCheck.isConnected() && authCheck.getRoles().includes('DRIVER') ? '#437F97' : '#AD1457' }">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Permis
                        </h2>
                        <div class="insert-licence-contanair">
                            <a href="path/to/your/document.pdf" target="_blank">{{ licenceName }}</a>
                        </div>

                    </div>

                </mat-list-item>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                        </h2>
                        <div class="insert-licence-contanair">
                            <div class="licence-upload">

                                <label for="fileUpload" class="custom-file-upload">
                                    <span class="fileName"> inserer un permis </span>
                                    <mat-icon class="insert-license-icon"> move_to_inbox </mat-icon>

                                </label>


                                <input id="fileUpload" type="file" (change)="onFileSelected($event)"
                                    style="display: none;">
                            </div>

                        </div>
                    </div>

                </mat-list-item>
            </mat-list>

        </mat-card-content>
    </mat-card>
</div>