<div class="main-div">
    <h2 mat-dialog-title *ngIf="data.En != 'old' && data.Encode != 'add-me'">Changer de {{ data.Fr }}</h2>
    <h2 mat-dialog-title *ngIf="data.En == 'old'">Changer d'{{ data.Fr }}</h2>
    <h2 mat-dialog-title *ngIf="data.Encode == 'add-me'"> Selectionner le nombre de place</h2>

    <mat-dialog-content>
        <div class="form-contanair">
            <mat-form-field *ngIf="data.En == 'phone'">
                <mat-label> {{data.Fr}}</mat-label>
                <input matInput maxlength="14" matInput maxlength="14">
            </mat-form-field>

            <mat-form-field *ngIf="data.En == 'firstName' || data.En == 'lastName' || data.En == 'city'">
                <mat-label> {{data.Fr}}</mat-label>
                <input matInput maxlength="14" matInput>
            </mat-form-field>

            <mat-form-field *ngIf="data.En == 'old'">
                <mat-label> Votre {{data.Fr}}</mat-label>
                <input matInput maxlength="2" matInput>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="data.En == 'sex'">
                <mat-label> {{data.Fr}}</mat-label>
                <input matInput maxlength="14" matInput>
            </mat-form-field> -->
            <mat-form-field appearance="fill" *ngIf="data.En == 'sex'">
                <!-- <mat-label>Heure de depart</mat-label> -->
                <mat-select [(value)]="selectedGender">
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{ gender }}
                    </mat-option>
                </mat-select>
                {{ selectedGender }}
            </mat-form-field>

            <app-new-password *ngIf="data.En == 'password'" />


            <mat-form-field *ngIf="data.En == 'add-me'">
                <mat-label> {{data.Fr}}</mat-label>
                <input matInput maxlength="14" matInput maxlength="14">
            </mat-form-field>

            <mat-form-field *ngIf="data.Encode == 'add-me'">
                <mat-select [(value)]="selectedNbPlace">
                    <mat-option *ngFor="let place of nbPlace" [value]="place">
                        {{ place }}
                    </mat-option>
                </mat-select>
                {{ selectedNbPlace }}

            </mat-form-field>
        </div>

        <!-- <h2 mat-dialog-title>Popup Information</h2>
        <mat-dialog-content>
            <p>Name: {{data.componentChange}}</p>
            <p>Age: {{data.age}}</p>
            <p>Job: {{data.job}}</p>
        </mat-dialog-content> -->
    </mat-dialog-content>

    <mat-dialog-actions *ngIf="data.En != 'password'">
        <button mat-button mat-dialog-close (click)="onNoClick()">Annuler</button>
        <button mat-button mat-dialog-close (click)="onNoClick()">Valider</button>
    </mat-dialog-actions>
</div>