<div class="contanair">
    <div class="profile-contenair">
        <mat-card>
            <mat-card-header>
                <h1>
                    Réservation
                </h1>
            </mat-card-header>
            <mat-card-content>
                <div class="depart-dest">
                    <mat-card class="depart">
                        <mat-card-header>
                            <mat-card-title>
                                Dakar
                            </mat-card-title>

                        </mat-card-header>
                        <mat-card-content>
                            (Auchan Mermoz coté du pont & en face de la post)
                        </mat-card-content>
                    </mat-card>
                    <div class="arrow-icon">
                        <mat-icon>arrow_downward</mat-icon>
                    </div>
                    <mat-card class="depart">
                        <mat-card-header>
                            <mat-card-title>
                                Thies
                            </mat-card-title>

                        </mat-card-header>
                        <mat-card-content>
                            (Carrefour Lat-Dior)
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="list-contenair">
                    <h2>
                        ID Trajet
                    </h2>
                    <div>
                        <p>
                            ID Trajet
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Date & Heure
                    </h2>
                    <div>
                        <p>
                            22 Août 2024, 8:00
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Nombre de place
                    </h2>
                    <div>
                        <p>
                            2
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Total a payer
                    </h2>
                    <div>
                        <p>
                            10500 FCFA
                        </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card class="card-2">
            <mat-card-header>
                <h1>
                    Voiture
                </h1>
            </mat-card-header>
            <mat-card-content>
                <div class="list-contenair">
                    <h2>
                        Marque
                    </h2>
                    <div>
                        <p>
                            Clio
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Modèle
                    </h2>
                    <div>
                        <p>
                            307
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Couleur
                    </h2>
                    <div>
                        <p>
                            Blanc
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Place d’immatriculation
                    </h2>
                    <div>
                        <p>
                            AA-123-EH
                        </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card class="card-2">
            <mat-card-header>
                <h1>
                    Chauffeur
                </h1>
            </mat-card-header>
            <mat-card-content>
                <div class="list-contenair">
                    <h2>
                        Nom
                    </h2>
                    <div>
                        <p>
                            Niang
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Prénom
                    </h2>
                    <div>
                        <p>
                            Mohammed
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        No. Téléphone
                    </h2>
                    <div>
                        <p>
                            (+221) 777123456
                        </p>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="list-contenair">
                    <h2>
                        Nombre de trajet
                    </h2>
                    <div>
                        <p>
                            2
                        </p>
                    </div>
                </div>  
                <div class="list-contenair">
                    <h2>
                        Permis vérifié
                    </h2>
                    <div>
                        <p>
                            oui
                        </p>
                    </div>
                </div>  
                <div class="last-btn">
                    <button mat-raised-button class="step-one-button"  class="btn-back" routerLink="/driver-dashboard" >
                        Revenir sur l'historique
                    </button> 
                </div>     
            </mat-card-content>
        </mat-card>
    </div>
</div>