<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawerId.toggle()">
        <mat-icon> menu </mat-icon>
    </button>
    <span class="spacer">
    </span>
    <button mat-button routerLink="/admin/home"> Mes-Trajets </button>
    <button mat-button routerLink="/admin/profile"> Trajet-prevus </button>
    <button mat-button [mat-menu-trigger-for]="importMenu"
            *ngIf="authService.roles.includes('ADMIN')">
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        Poposer un trajet
    </button>
        <mat-menu #importMenu>
            <button mat-menu-item routerLink="/admin/load-students"> Mes clients</button>
            <button mat-menu-item routerLink="/admin/load-payments"> Hitstorique de trajet</button>
        </mat-menu>
    <button mat-button *ngIf="authService.authentificated==true">
        {{authService.username}}
    </button>
    <button (click)="logout()" mat-raised-button color="accent" > Logout </button>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #drawerId mode="side" position="start" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button routerLink="/admin/dashboard"> 
                    <mat-icon>dashboard</mat-icon>
                    <!-- Dashboard -->
                    Mes Trajets
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/students"> 
                    <mat-icon>dashboard</mat-icon>
                    Trajets en Demande
                    <!-- students -->
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/payments"> 
                    <mat-icon>dashboard</mat-icon>
                    Trajet prevus
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="min-height: 868px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content> 
</mat-drawer-container>