<mat-toolbar color="primary" class="toolbar">
    <!-- <button mat-icon-button (click)="drawerId.toggle()">
        <mat-icon> menu </mat-icon>
    </button> -->
    <button mat-icon-button >
        <mat-icon> waves </mat-icon>
        EvolBoost
    </button>
    <span class="spacer">
    </span>
    <button mat-button routerLink="home"> Offre trajet </button>
    <!-- <button mat-button routerLink="profile"> Mes-Trajets </button> -->
    
    <!-- <button mat-button *ngIf="authService.roles.includes('ADMIN')">
        Annoncer un trajet
    </button> -->
    <mat-menu #importMenu class="profile-menu">
        <button mat-menu-item > Mes informations</button>
        <!-- <button mat-menu-item routerLink="load-students" *ngIf="authService.roles.includes('ADMIN')"> Mes clients</button> -->
        <button mat-menu-item routerLink="load-payments"> Hitstorique de trajet</button>
        <button  mat-menu-item (click)="logout()" >
            <!-- <mat-icon> exit_to_app </mat-icon> -->
            Déconnexion
        </button>
    </mat-menu>
    <button mat-button [mat-menu-trigger-for]="importMenu" *ngIf="authService.authentificated==true">
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        <!-- {{authService.username}} -->
        <mat-icon class="custom-icon">person</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container>
    <!-- <mat-drawer #drawerId mode="side" class="side-nav" position="start" opened="true">
        <mat-nav-list>
            <mat-list-item>
                <button mat-button routerLink="dashboard">
                    <mat-icon>dashboard</mat-icon>
                    Mes Trajets
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="students">
                    <mat-icon>dashboard</mat-icon>
                    Trajets en Demande
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="payments">
                    <mat-icon>dashboard</mat-icon>
                    Trajet prevus
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer> -->
    <mat-drawer-content>
        <div style="min-height: 868px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>