<mat-drawer-container>


    <div class="main">

        <div class="contanair">
            <div class="title">
                <h1> Réinitialisation de votre mot de passe </h1>
            </div>

            <div class="subtitle">
                <p> 
                    Veuillez entrer le code de réinitialisation reçu par message au 777123456.
                </p>
            </div>

            <div class="number-contanair">
                <input type="text" maxlength="10" placeholder="Entrez le code"
                    class="phone-number-input" />
            </div>

            <div class="button">
                <button mat-raised-button routerLink="/verification" class="step-one-button" color="primary">
                    Envoyer
                </button>
            </div>

        </div>

    </div>
</mat-drawer-container>