<div class="trip-contenair">
    <mat-card>

        <mat-card-header>
            <mat-card-title>
                Demander un trajet
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="time">
                <mat-stepper orientation="vertical" #stepper>
                    <mat-step>
                        <form>
                            <ng-template matStepLabel> Ville de départ / arrivée et place</ng-template>
                            <div class="date-time-title">
                                <h4> Date et heure : </h4>
                            </div>

                            <div class="date-time-conetainer">
                                <app-date-input />
                                <app-time-picker />
                            </div>
                            <div class="date-time-title">
                                <h4> Lieux de depart et arrivé : </h4>
                                <mat-icon matSuffix>redo</mat-icon>
                            </div>
                            <div class="principal-point-container">
                                <mat-form-field class="search-custom" appearance="outline">
                                    <input matInput [formControl]="myControl" [(ngModel)]="filterValues.depart"
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        @for (option of filteredOptions | async; track option) {
                                        <mat-option [value]="option">{{option}}</mat-option>
                                        }
                                    </mat-autocomplete>
                                    <mat-label>Depart</mat-label>
                                </mat-form-field>

                                <mat-form-field class="destination-input" appearance="outline">
                                    <input matInput [(ngModel)]="filterValues.destination" [formControl]="myControl2"
                                        [(ngModel)]="filterValues.destination" [matAutocomplete]="auto2">
                                    <mat-autocomplete #auto2="matAutocomplete">

                                        @for (option of filteredOptions2 | async; track option) {
                                        <mat-option [value]="option">{{option}}</mat-option>
                                        }
                                    </mat-autocomplete>
                                    <mat-label>Destination</mat-label>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="traject-input">
                                    <mat-label>Nb de place</mat-label>
                                    <input matInput placeholder="ex: 4" type="text" pattern="\d*" ngModel
                                        name="nombrePlace" #nombrePlace="ngModel"
                                        (keypress)="validateNumberInput($event)" required>
                                    <mat-icon matSuffix color="primary">airline_seat_legroom_normal</mat-icon>
                                </mat-form-field>
                            </div>

                            <button mat-raised-button class="step-one-button" color="primary" 
                            
                             routerLink="/login-client">
                                Confirmer la demande
                            </button>

                            <!-- <button mat-raised-button class="step-one-button" color="primary" matStepperNext>
                                Confirmer la demande
                            </button> -->
                        </form>
                    </mat-step>
                </mat-stepper>
            </div>
        </mat-card-content>
    </mat-card>
</div>