html,
body {
    height: 100%;
    margin: 0;
}

.title-demand {
    text-align: center;
}

mat-card-header {
    background-color: rgba(112, 112, 112, 0.192);
    font-size: 16px;
    height: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* max-width: 1200px;
      border-radius: 40px;
      overflow: hidden;  */
}

mat-card-content {
    background-color: transparent;
}

.demand-traject {
    background-color: rgb(67, 127, 151);
}

.traject-contanair {
    width: 100%;
    height: 42px;
    /* background-color: green; */
}

.title-suggest {
    width: 100%;
    height: auto;
    text-align: center;
    h2 {
        font-size: 15px;
    }
}
.search-header {
    background-color: transparent;

    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 1200px;
    /* border-radius: 40px; */
    overflow: hidden;
    justify-content: center;
    margin-top: 10px;
}

.mat-mdc-card-content {
    padding: 0;
}

.container {
    padding: 10px;
}

.card-table {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}

.table-comp {
    display: flex;
    justify-content: space-between;
    width: 96%;
    height: 100px;
    margin: 15px 0 0 2%;
    cursor: pointer;
    border: 9px solid rgb(67, 127, 151);
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 20px;
    background-color: transparent;

    .custom-mat-icon {
        transform: scale(2);
    }

    button {
        margin-top: -12px;
       background-color: rgb(58, 116, 139);
    }

    .depart-dest {
        margin-left: -30px;
        width: 50%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
    }

    .btn-dest-dep {
        width: 20%;
        height: 100%;
        /* background-color: green; */
        justify-content: center;
        justify-items: center;
        margin-bottom: 10px;
    }

    mat-icon {
        color: rgb(67, 127, 151);
    }
}

.table-comp-subscribe {
    display: flex;
    justify-content: space-around;
    width: 98%;
    height: 100px;
    margin: 15px 0 0 2%;
    cursor: pointer;

    /* background-color: green; */
}

.table-comp:hover {
    background-color: #4949494f;
}

.table-comp.disabled {
    background-color: #d3d3d32a;
    cursor: not-allowed;
    pointer-events: none;
}

.search-contanair {}

.search-custom {
    margin-top: 10px;
    width: 200px;
}

.destination-input {
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
}

.btn-cancel {
    background-color: red;
}

.btn-await {
    background-color: rgba(197, 197, 197, 0.274);
}

.no-results {
    text-align: center; 
    padding-bottom: 15px;
}

.date-header {
    margin-top: 25px;
    width: 100%;
    height: 35px;
    background-color: rgb(67, 127, 151);
    h2 {
        margin-left: 5px;
    }
}

.vdem {
    background-color: rgb(7, 148, 7);
}

@media (max-width: 1200px) {
    .container {
        padding: 10px;
    }
}

@media (max-width: 200px) {
    .card-table {
        width: 100%;
    }

    .search-custom {
        width: 20px;
    }

    .table-comp {
        flex-direction: column;
        align-items: flex-start;
    }

    .traject {
        flex-direction: column;
        align-items: flex-start;
    }


    .search-header {
        background-color: transparent;
        width: 100%;
        height: 80px;
        max-width: 1200px;
        overflow: hidden;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .search-custom {
        width: 140px;
        height: 40px;
        /* background-color: red; */
    }

    .destination-input {
        width: 140px;
        height: 40px;
    }

    .table-comp {
        width: 100%;
        height: 150px;

    }

    .search-header {
        border-radius: 4px;
        height: 170px;
    }
}


.traject {
    width: 100%;
    height: 38px;
    color: black;
    background-color: beige;
    display: flex;
    align-items: center;

}

.nb-place {
    margin-right: 5px;
    width: 50%;
    display: flex;
    justify-content: flex-end;

    p {
        margin-top: 5px;
    }
}

.add-me {
    margin-right: 5px;
    width: 100%;
    background-color: transparent;
    height: 40px;
    display: flex;
    justify-content: space-between;

    p {
        margin-top: 5px;
    }
}

.depart-date {
    width: 50%;
    height: 100%;
    background-color: beige;
    display: flex;
    padding-left: 10px;

    p {
        margin-top: 3px;
        margin-left: 3px;
        font-weight: 500;
    }
}

.search-button {
    margin-left: 20px;
    margin-top: 10px;
background-color: rgb(67, 127, 151);
    /* margin-top: 10px; */
    width: 150px;
    height: 54px;
    margin-top: 9px;
    border-radius: 20px;
}


.custom-table {
    border: none;
    background-color: transparent;
    min-height: 620px;
}

.custom-table th,
.custom-table td {
    border: none;
}

.custom-table th {
    background-color: transparent;
}


.request-container {
    width: 100%;
    height: 100px;
}


/* foooooter  */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #41414159;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}


.subscribe {
    background-color: green;
}

.mat-mdc-paginator {
    margin-top: 20px;
}