<mat-drawer-container>


    <div class="main">

        <div class="contanair">
            <div class="title">
                <h1> Réinitialisation de votre mot de passe </h1>
            </div>

            <div class="subtitle">
                <p> Veuillez fournir svp le numéro de téléphone relié à votre compte.
                    Un message vous sera envoyé avec un code pour modifier votre mot de passe </p>
            </div>

            <div class="number-contanair">
                <!-- <select [(ngModel)]="selectedCountryCode" class="country-code-select">
                    <option *ngFor="let country of countryCodes" [value]="country.code">
                        {{ country.name }} ({{ country.code }})
                    </option>
                </select> -->
                <input type="password" [value]="newPassword1" [(ngModel)]="newPassword1" maxlength="15" placeholder="Nouveau mot de passe"
                    class="phone-number-input" />
                <input type="password" [value]="newPassword2" [(ngModel)]="newPassword2" maxlength="15" placeholder="Confirmez le mot de passe"
                    class="phone-number-input2" />
            </div>

            <div class="button">
                <button mat-raised-button (click)="onClickSend()" class="step-one-button" color="primary">
                    Envoyer
                </button>
            </div>

        </div>

    </div>
</mat-drawer-container>