html,
body {
  height: 100%;
  margin: 0;
}


.main-container {
    width: 100%;
    height: auto ;
    background-color:#353535de;
    /* display: flex; */
    /* justify-content: center; */
}


.mat-container {
    margin-top: 20px;
    width: 100%;
    max-width: 750px;
    height: auto;
    padding-bottom: 80px;
    background-color: #437F97;
    margin:auto;
}

.page-title {
    padding: 0;
    display: flex;
    justify-content: center;
    /* background-color: rgb(189, 176, 176); */
    height: 80px;

    .traject-container {
        width: 70%;
        height: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
    }

    .nb-traject {
        h3 {
            margin-bottom: 2px;
        }

        margin-top: 6px;
        text-align: center;
        width: 145px;
        height: 60px;
        background-color: rgb(75, 156, 174);
    }
}


.mat-container-1 {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    .content-container {
        width: 100%;
        height: auto;
        /* background-color: rgb(109, 109, 109); */
        padding-top: 10px;
    }
}

.container-1 {
    padding: 0 5px 0 5px;
    width: 97%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
}

.container-2 {
    padding-left: 3%;
    margin-top: 25px;
    width: 97%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(41, 107, 41); */
}

.container-3 {

    margin-top: 25px;
    width: 100%;
    height: 650px;
    /* background-color: rgb(31, 106, 119); */
}



.traject-contanair {
    width: 100%;
    height: 62px;
    /* background-color: green; */
}

.title-suggest {
    width: 100%;
    height: auto;
    text-align: center;

    h2 {
        font-size: 15px;
    }
}

.search-header {
    background-color: transparent;

    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 1200px;
    /* border-radius: 40px; */
    overflow: hidden;
    justify-content: center;
    margin-top: 10px;
}

.mat-mdc-card-content {
    padding: 0;
}

.container {
    padding: 10px;
}

.card-table {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    margin-top: 30px;
}

.table-comp {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: 15px 0;
    cursor: pointer;

    background-color: transparent;
}

.table-comp-subscribe {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 120px;
    margin: 15px 0 0 54px;
    cursor: pointer;
    background-color: #3c3c3c;
}

.date-header {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    background-color: rgb(75, 156, 174);

    h2 {
        margin-left: 5px;
    }
}


.table-comp:hover {
    background-color: #4949494f;
}

.table-comp.disabled {
    background-color: #d3d3d32a;
    cursor: not-allowed;
    pointer-events: none;
}

.search-contanair {}

.search-custom {
    margin-top: 10px;
    width: 200px;
}

.destination-input {
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
}

.traject-card-title {
    display: flex;
    justify-content: space-between;
}

.btn-await {
    background-color: rgba(197, 197, 197, 0.274);
}

.no-results {
    text-align: center;
    padding-bottom: 15px;
}

.btn-new-traject {
    display: flex;
}

.btn-new-traject-phone {
    display: none;
    background-color: rgb(19, 113, 134);
}

.scrolling-banner {
    width: 100%;
    background-color: #ce6ba100;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.scrolling-banner p {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 15s linear infinite;
}

mat-icon {
    color: rgb(67, 127, 151);
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


@media (max-width: 1200px) {
    .container {
        padding: 10px;
    }

    .mat-container-1 {

        .content-container {
            width: 98%;
        }
    }

    .table-comp-subscribe {
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 120px;
        margin: 15px 0 0 40px;
    }

    .page-title {
        .traject-container {
            width: 96%;
        }
    }
}

@media (max-width: 200px) {
    .card-table {
        width: 100%;
    }

    .search-custom {
        width: 20px;
    }

    .table-comp {
        flex-direction: column;
        align-items: flex-start;
    }

    .traject {
        flex-direction: column;
        align-items: flex-start;
    }


    .search-header {
        background-color: transparent;
        width: 100%;
        height: 80px;
        max-width: 1200px;
        overflow: hidden;
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .search-custom {
        width: 140px;
        height: 40px;
        /* background-color: red; */
    }

    .destination-input {
        width: 140px;
        height: 40px;
    }

    .table-comp {
        width: 100%;
        height: 150px;

    }

    .search-header {
        border-radius: 4px;
        height: 170px;
    }

    .btn-new-traject {
        display: none;
    }

    .btn-new-traject-phone {
        display: flex;
        justify-content: center;
    }
}


.traject {
    width: 100%;
    height: 30px;
    color: black;
    background-color: beige;
    display: flex;
    align-items: center;

}

.nb-place {
    margin-right: 5px;
    width: 50%;
    display: flex;
    justify-content: flex-end;

    p {
        margin-top: 5px;
    }
}

.add-me {
    margin-right: 5px;
    width: 100%;
    background-color: transparent;
    height: 40px;
    display: flex;
    justify-content: space-between;

    p {
        margin-top: 5px;
    }
}

.depart-date {
    width: 50%;
    height: 100%;
    background-color: beige;
    display: flex;
    padding-left: 10px;

    p {
        margin-top: 5px;
        font-weight: 500;
    }
}

.search-button {
    margin-left: 20px;
    margin-top: 10px;

    /* margin-top: 10px; */
    width: 150px;
    height: 54px;
    margin-top: 9px;
    border-radius: 20px;
}


.custom-table {
    border: none;
    background-color: transparent;
}

.custom-table th,
.custom-table td {
    border: none;
}

.custom-table th {
    background-color: transparent;
}


.request-container {
    width: 100%;
    height: 100px;
}


.mat-elevation-z1 {
    box-shadow: none;
}


.btn-color {
    background-color: rgb(19, 113, 134);
}