<mat-drawer-container>

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="introduction">
            <p>
                Connexion Passager : Accédez à votre tableau de bord et gérez vos trajets.
            </p>
        </div>
        <div class="signup">
            <form [formGroup]="logForm" class="form-main-connect" (ngSubmit)="onLoginClient()">
                <label for="chk" aria-hidden="true">
                    <span>
                        Se connecter    
                    </span>
                </label>

                <div class="input-comp-connect">

                    <div class="phone-main">
                        <select formControlName="selectedCountryCode" class="country-code-select">
                            <option *ngFor="let country of countryCodes" [value]="country.code">
                                {{ country.name }} ({{ country.code }})
                            </option>
                        </select>

                        <input class="input-phone" type="text" formControlName="phoneNumber" maxlength="9"
                            placeholder="Numero de telephone" required
                            [ngClass]="{'invalid-border': logForm.get('phoneNumber')?.invalid && logForm.get('phoneNumber')?.touched}">
                    </div>
                    <input class="input-subscibe" type="password" formControlName="password" placeholder="Mot de passe"
                        required
                        [ngClass]="{'invalid-border': logForm.get('password')?.invalid && logForm.get('password')?.touched}">
                </div>

                <!-- <input type="number" name="number" placeholder="Numero de telephone" [(ngModel)]="loginObj.phoneNumber"> -->
                <!-- <input type="password" name="pswd" placeholder="Mot de passe" [(ngModel)]="loginObj.password"> -->
                <!-- <button class="button-form" (click)="onLoginClient()"> Se connecter client</button> -->
                <button class="button-form" type="submit"> Se connecter</button>
                <div class="forgot-password-comp">
                    <a (click)="forgotPassword()" class="forgot-password-link">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>

        <div class="login">
            <form [formGroup]="signUpForm" class="form-main" (ngSubmit)="onSignUp()">

                <div class="input-comp">
                    <label class="form-login" for="chk" aria-hidden="true">
                        <mat-icon class="subscribe-icon" color="primary">person_add</mat-icon>
                        S'inscrire
                    </label>

                    <div *ngIf="signUpForm.invalid && signUpForm.touched" class="error-message-global">
                        Tous les champs sont obligatoires.
                    </div>

                    <div *ngIf="signUpForm.get('confirmPassword')?.touched && !isSamePassword"
                        class="error-message-global">
                        Les mots de passe ne correspond paw
                    </div>

                    <div *ngIf="isExistNumber" class="error-message-global">
                        Le numéro existe veillez vous connecter
                    </div>

                    <input class="input-subscibe" type="text" formControlName="firstName" placeholder="Nom"
                        [ngClass]="{'invalid-border': signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched}">

                    <input class="input-subscibe" type="text" formControlName="lastName" placeholder="Prenom" required
                        [ngClass]="{'invalid-border': signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched}">

                    <div class="phone-main">
                        <select formControlName="selectedCountryCode" class="country-code-select">
                            <option *ngFor="let country of countryCodes" [value]="country.code">
                                {{ country.name }} ({{ country.code }})
                            </option>
                        </select>

                        <input class="input-phone" type="text" formControlName="phoneNumber" maxlength="9"
                            placeholder="Numero de telephone" required
                            [ngClass]="{'invalid-border': signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched}">
                    </div>
                    <input class="input-subscibe" type="password" formControlName="password" placeholder="Mot de passe"
                        required
                        [ngClass]="{'invalid-border': (signUpForm.get('password')?.invalid || !isSamePassword) && signUpForm.get('password')?.touched}">

                    <input class="input-subscibe" type="password" formControlName="confirmPassword"
                        placeholder="Veillez confirmer le mot de passe" required
                        [ngClass]="{'invalid-border': (signUpForm.get('confirmPassword')?.invalid || !isSamePassword) && signUpForm.get('confirmPassword')?.touched}">

                    <button type="submit" class="button-form" [disabled]="signUpForm.invalid"
                        [ngClass]="{ 'disabled-route-btn': signUpForm.invalid }">
                        En route
                    </button>
                </div>

            </form>


        </div>
    </div>
</mat-drawer-container>