<div color="primary" class="trip-container">
    <mat-drawer-container class="drawer-content">
        <mat-drawer-content>
            <mat-drawer-container>
                <!-- {{loginFormGroup.value | json}} -->
                <mat-card>
                    <mat-card appearance="outlined">
                        <mat-card-header color="primary">
                            <mat-card-title color="primary"> Veillez remplire le formulaire</mat-card-title>
                            <!-- <mat-card-subtitle>Herding group</mat-card-subtitle> -->
                        </mat-card-header>
                        <mat-card-actions>
                            <mat-stepper orientation="vertical" #stepper>
                                <mat-step>
                                    <form>
                                        <ng-template matStepLabel>Selectionner le nombre de place</ng-template>
                                        <div>
                                            <mat-form-field class="step-one-form">
                                                <mat-label>Nombre de places</mat-label>
                                                <mat-select disableRipple [(ngModel)]="selectedNbSeats">
                                                  <mat-option *ngFor="let i of [].constructor(tripData.seat); let index = index" [value]="index + 1">
                                                    {{ index + 1 }} place{{ index + 1 > 1 ? 's' : '' }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>

                                            <!-- <button mat-button matStepperNext>Next</button> -->

                                            <button mat-raised-button class="step-one-button" color="primary"
                                                matStepperNext>
                                                Confirmer
                                            </button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step>
                                    <form>
                                        <ng-template matStepLabel>Récapitulatif de votre demande</ng-template>
                                        <div class="recap-contenair">
                                            <div class="container">
                                                <div class="point-container top">
                                                    <div class="label"> <span class="descritpion">Dakar </span>
                                                        (10h30)</div>
                                                    <div class="point"></div>
                                                </div>
                                                <div class="line"></div>
                                                <div class="point-container bottom">
                                                    <div class="point"></div>
                                                    <div class="label"> <span class="descritpion"> Saly</span>
                                                        (11h30)</div>
                                                </div>
                                            </div>

                                            <div class="container-2">
                                                <div> <span class="descritpion">Télephone :</span> 066175766 </div>

                                                <div class="label"> <span class="descritpion"> Prix passager
                                                        :</span> 14 000 FCFA</div>
                                                <div class="label"> <span class="descritpion">Nombre de passager
                                                        :</span> 4</div>

                                                <div class="total"> <span class="descritpion"> Prix total :
                                                    </span>14 000 FCFA</div>

                                            </div>
                                        </div>
                                        <button mat-raised-button class="step-one-button" color="primary"
                                            matStepperNext>
                                            Confirmer
                                        </button>
                                    </form>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Payment</ng-template>
                                    <div>
                                        <mat-card >
                                            <form class="payment-form" [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Numero wave</mat-label>
                                                    <input matInput formControlName="Number" required>
                                                </mat-form-field>

                                                <button mat-raised-button color="primary" type="submit"
                                                    [disabled]="creditCardForm.valid">Confirmer</button>
                                                <button mat-raised-button matStepperPrevious>Modifier</button>

                                            </form>
                                        </mat-card>

                                        <!-- <button mat-raised-button (click)="stepper.reset()">Reset</button> -->
                                    </div>
                                </mat-step>
                            </mat-stepper>
                        </mat-card-actions>
                    </mat-card>