html,
body {
    height: 100vh;
    margin: 0;
}

.spacer {
    flex: auto;
}

.trip-container {
    /* background-color: #970e0e; */
    padding: 0;
    height: 600px;
    display: flex;
    justify-content: center;
}

mat-drawer-content {
    margin-top: 60px;
    /* background-color: rgba(65, 65, 65, 0.493); */
    background-color: transparent;
    width: 100%;
}

.mat-drawer-container {
    /* background-color: aliceblue; */
}

mat-card-title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    mat-card-title {
        width: 100%;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
    }
}


.step-one-form {
    margin-top: 15px;
}

.step-one-button {
    margin-left: 30px;
    height: 55px;
    border-radius: 40px;
    margin-bottom: 15px;
}