html,
body {
    height: 100vh;
    margin: 0;
}

.spacer {
    flex: auto;
}

.trip-container {
    /* background-color: #970e0e; */
    padding: 0;
    height: 600px;
    display: flex;
    justify-content: center;
}

mat-drawer-content {
    margin-top: 60px;
    /* background-color: rgba(65, 65, 65, 0.493); */
    background-color: transparent;
    width: 100%;
}

.mat-drawer-container {
    /* background-color: aliceblue; */
}

mat-card-title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    mat-card-title {
        width: 100%;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
    }
}


.step-one-form {
    margin-top: 15px;
}

.step-one-button {
    margin-left: 30px;
    height: 55px;
    border-radius: 40px;
    margin-bottom: 15px;
}


.recap-contenair {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    /* background-color: rgb(97, 66, 66); */
    display: flex;
}



/* ttttttttest */

.container {
    /* background-color: #3a1926; */
    width: 120px;
    position: relative;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .point-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .point {
    width: 10px;
    height: 10px;
    background-color: #9e0f48;
    border-radius: 50%;
  }
  
  .label {
    font-weight:400;
    color: #ffffff;
  }
  
  .top .label {
    margin-bottom: 10px;
  }
  
  .bottom .label {
    margin-top: 10px;
  }
  
  .line {
    width: 2px;
    background-color: #ffffff;
    flex-grow: 1;
  }
  

.container-2 {
    padding-top: 10px;
    /* background-color: #3a1926; */
    width: 200px;
    height: 140px;
    margin-left: 4px;
    
    .label {
      margin-top: 10px;
      font-weight:400;
      color: #ffffff;
    }

    .total {
      margin-top: 40px;
      font-weight:400;
      color: #ffffff;
      font-weight: bold;
    }
}

.descritpion {
    color: #e1216d;
    font-weight: bold
}