<mat-card-content>
    <h2>Prix</h2>

    <div class="price-label-container">
        <label id="price-name-label" class="price-name-label">
            Prix par passager
        </label>
        <label class="price-value-label">
            <!-- {{slider.value}} -->

            <div class="custom-input">
                <button (click)="decrement()" class="decrement-butt">-</button>
                <div class="input-container">
                    <input matInput class="user-input" [(ngModel)]="value" type="number">
                    <span class="unit">FCFA</span>
                </div>
                <button (click)="increment()" class="increment-butt">+</button>
            </div>
        </label>
    </div>
    <mat-slider class="price-margin" [disabled]="disabled" [max]="max" [min]="min" [step]="step"
        [discrete]="thumbLabel" [showTickMarks]="showTicks">
        <input matSliderThumb [(ngModel)]="value" #slider>
    </mat-slider>
</mat-card-content>