<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="case">

    <div class="content">
        <section class="time-line">
            <article>
                <ul class="time-line-list">
                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>
                        </div>
                        <div class="time-line-structure time-line-icon call">
                            <span><i class="fa fa-calendar-o"> </i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Numero : 1475</p>
                            <p class="contact-name">Mermoz Thies</p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon message">
                            <span><i class="fa fa-calendar-o">
                                </i></span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Numero : 6987</p>
                            <p class="contact-name">Saly Dakar </p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon message">
                            <span><i class="fa fa-calendar-o"></i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Numer : 5546</p>
                            <p class="contact-name">Saly Dakar </p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon call">
                            <span><i class="fa fa-calendar-o"></i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Numer : 6855</p>
                            <p class="contact-name">Saly Dakar </p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon call">
                            <span><i class="fa fa-calendar-o"></i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Received Call</p>
                            <p class="contact-name">Dakar Thies </p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon message">
                            <span><i class="fa fa-calendar-o"></i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Numer : 5546</p>
                            <p class="contact-name">Dakar Thies </p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon call">
                            <span><i class="fa fa-calendar-o"></i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Missed Call</p>
                            <p class="contact-name">Dakar Thies </p>
                        </div>
                    </li>

                    <li class="time-line-list-item">
                        <div class="time-line-structure time-line-clock">
                            <p class="time-line-clock-text"> Lundi 12  <span>Matin</span>                     </div>
                        <div class="time-line-structure time-line-icon message">
                            <span><i class="fa fa-calendar-o"></i> </span>
                        </div>
                        <div class="time-line-structure time-line-text">
                            <p class="log-type">Numero : 6655</p>
                            <p class="contact-name">Dakar Thies </p>
                        </div>
                    </li>

                </ul>
            </article>
        </section>

    </div>

</div>