<mat-drawer-container>


    <div class="main">

        <div class="contanair">
            <div class="title">
                <h1> Réinitialisation de votre mot de passe </h1>
            </div>

            <div class="subtitle">
                <p> Veuillez fournir svp le numéro de téléphone relié à votre compte.
                    Un message vous sera envoyé avec un code pour modifier votre mot de passe </p>
            </div>

            <div class="number-contanair">
                <select [(ngModel)]="selectedCountryCode" class="country-code-select">
                    <option *ngFor="let country of countryCodes" [value]="country.code">
                        <!-- <img 
                    [src]="'assets/flags/' + country.flag + '.svg'" 
                    alt="{{ country.name }} flag" 
                    class="flag"
                  /> -->
                        {{ country.name }} ({{ country.code }})
                    </option>
                </select>
                <input type="text" [value]="phoneNumber" (input)="onInput($event)" placeholder="Entrez le numéro"
                    class="phone-number-input" />
            </div>
            <div class="subtitle-warning">
                <p *ngIf="!isValidPhoneNumber"> Le numéro saisi n'existe pas </p>
            </div>

            <div class="button">
                <button mat-raised-button (click)="onClickSend()" class="step-one-button" color="primary">
                    Envoyer
                </button>
            </div>

        </div>

    </div>
</mat-drawer-container>