<div *ngIf="activeSection === 'profile'" class="profile-contenair">

    <mat-card>
        <mat-card-header>
            <h1
                [ngStyle]="{'color': authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }">
                Identifiants
            </h1>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Téléphone
                        </h2>
                        <div>
                            <p>
                                {{ userData.phonenumber }}
                            </p>
                            <button mat-raised-button   
                                [ngStyle]="{'background-color' : authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Mot de passe
                        </h2>
                        <div>
                            <p>
                                *********
                            </p>
                            <button mat-raised-button (click)="openDialog({ En :'password', Fr : 'mot de passe' })"
                                [ngStyle]="{'background-color' : authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-2">
        <mat-card-header>
            <h1
                [ngStyle]="{'color': authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }">
                Informations
            </h1>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Prénom
                        </h2>
                        <div>
                            <p>
                                {{ userData.firstname == undefined ? "veillez completer" : userData.firstname}}
                            </p>
                            <button mat-raised-button (click)="openDialog({ En : 'firstName', Fr : 'prénom' })"
                                [ngStyle]="{'background-color' : authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Nom
                        </h2>
                        <div>
                            <p>
                                {{userData.lastname == undefined ? "Veillez completer" : userData.lastname }}
                            </p>
                            <button mat-raised-button (click)="openDialog({ En : 'lastName', Fr : 'Nom' })"
                                [ngStyle]="{'background-color' : authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }"
                                color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Age
                        </h2>
                        <div>
                            <p>
                                {{ userData.age == undefined ? "veillez completer" : userData.age }}
                            </p>
                            <button mat-raised-button (click)="openDialog({En :'old', Fr : 'age'})" color="primary"
                                [ngStyle]="{'background-color' : authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Genre
                        </h2>
                        <div>
                            <p>
                                {{ userData.gender == undefined ? "veillez completer" : userData.gender }}
                            </p>
                            <button mat-raised-button (click)="openDialog({En : 'sex', Fr :  'genre'})" color="primary"
                                [ngStyle]="{'background-color' : authService.roles && authService.roles.includes('DRIVER') ? '#437F97' : '#AD1457' }">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="list-contenair">
                        <h2>
                            Ville
                        </h2>
                        <div>
                            <p>
                                {{ userData.city == undefined ? "Veillez completer" : userData.city }}
                            </p>
                            <button mat-raised-button (click)="openDialog({En : 'city', Fr : 'ville'})" color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>