<div class="container">
  <mat-card class="card-table">
    <mat-card-header>
      <mat-form-field class="search-custom" appearance="outline">
        <input matInput (change)="filterStudent($event)">
        <mat-label>Depart</mat-label>
      </mat-form-field>
      <mat-form-field class="destination-input" appearance="outline">
        <input matInput (change)="filterStudent($event)">
        <mat-label >Destination</mat-label>
      </mat-form-field>
      <button class="search-button" (click)="getPayments($event)" mat-raised-button color="primary">Rechercher</button>

      
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-card-title color="primary">Plus de 300 trajets disponibles, trouvez votre trajet</mat-card-title>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-card class="table-comp" (click)="onCardClick(element)">
              <mat-card-header>
                {{element.date}}
                <mat-divider></mat-divider>
              </mat-card-header>
              <mat-card-content>
                <div class="traject">
                  <mat-icon color="primary">access_time</mat-icon>
                  <p>{{element.time}}</p>
                  <p class="disp-depart">{{element.depart}}</p>
                  <mat-icon color="primary">redo</mat-icon>
                  <p>{{element.destination}}</p>
                  <p class="disp-place">Place Disponible</p>
                  <span *ngFor="let chair of element.clients">
                    <mat-icon [ngStyle]="{'color': chair === undefined ? 'primary' : 'orange'}">chair</mat-icon>
                  </span>
                  <p class="disp-price">14 000 FCFA</p>
                  <!-- <mat-icon class="disp-smoke" color="primary">smoke_free</mat-icon>
                  <mat-icon color="primary">local_mall</mat-icon>
                  <mat-icon color="primary">pets</mat-icon> -->
                </div>
              </mat-card-content>
            </mat-card>
          </td>
        </ng-container>
        <ng-container matColumnDef="">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button (click)="getPayments(element)" mat-raised-button color="primary">Payements</button>
          </td>
        </ng-container>
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator 
      [pageSizeOptions]="[10]" 
      aria-label="Select page of users"
      >
    </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>