<div class="container">
  <mat-card class="card-table">
    <mat-card-header class="search-header">
      <mat-form-field class="search-custom" appearance="outline">
        <input matInput [formControl]="myControl" [(ngModel)]="filterValues.departure" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">

          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
        <mat-label>Depart</mat-label>
      </mat-form-field>
      <mat-icon> redo </mat-icon>
      <mat-form-field class="destination-input" appearance="outline">
        <input matInput [(ngModel)]="filterValues.destination" [formControl]="myControl2"
          [(ngModel)]="filterValues.destination" [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete">

          @for (option of filteredOptions2 | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
        <mat-label>Destination</mat-label>
      </mat-form-field>
      <button class="search-button" (click)="filterTraject()" mat-raised-button color="primary">Rechercher</button>
    </mat-card-header>

    <!-- <mat-divider></mat-divider> -->
    <mat-card-content>  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 custom-table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>
            <mat-card-title
              *ngIf="filterValues.departure && filterValues.destination && dataSource.filteredData.length !== 0"
              color="primary">Covoiturages de {{filterValues.departure}} vers {{filterValues.destination}}</mat-card-title>
            <!-- <div *ngIf="dataSource.filteredData.length === 0" class="no-results" color="primary">
              <h2>Aucun covoiturage trouvé pour vos critères. Vous pouvez faire une proposition de trajet pour qu'un
                chauffeur réponde à votre demande.</h2>
              <button mat-raised-button routerLink="/proposer-trajet" color="primary" class="demand-traject">Faire une
                proposition</button> -->
              <!-- <button mat-button routerLink="/proposer-trajet">Faire une proposition</button> -->
            <!-- </div> -->
            <!-- <mat-card-title *ngIf="!filterValues.depart OR !filterValues.destination" color="primary">Plus de 300 trajets disponibles, trouvez votre trajet</mat-card-title> -->
          </th>
          <mat-card-title *ngIf="dataSource === []" color="primary">Covoiturages de {{filterValues.departure}} vers
            {{filterValues.destination}}</mat-card-title>

          <td mat-cell *matCellDef="let element">
            <!-- <div >
              {{tmpDate + 'et' +  element.date}}
              {{updateTmpDate(element.date)}}

            </div> -->
            <!-- {{tmpDate}} -->
            <div class="date-header" *ngIf="tmpDate !== element.date">
              <h2>
                <!-- {{element.date}} -->
                {{ element.date | date: 'EEEE d MMMM' : 'UTC' }}
              </h2>
              {{updateDate(element.date)}}
            </div>

            <mat-card class="table-comp" [ngClass]="{ 'disabled': element.isfull}" (click)="onCardClick(element)">
              <mat-card-header>
                <!-- {{element.date}} -->
                <p class="disp-depart">{{element.departure}}</p>
                <mat-icon>redo</mat-icon>
                <p>{{element.destination}}</p>
                <mat-divider></mat-divider>
              </mat-card-header>
              <mat-card-content>
                <div class="traject">
                  <div class="traject-first-comp">
                    <mat-icon color="primary">access_time</mat-icon>
                    <p>{{element.time}}</p>
                    <mat-icon color="primary">chair</mat-icon> 
                    <p class="disp-place">Place :</p>
                      <p>
                        {{element.seat}}
                      </p>
                  </div>

                  <!-- <mat-icon class="disp-smoke" color="primary">smoke_free</mat-icon>
                  <mat-icon color="primary">local_mall</mat-icon>
                  <mat-icon color="primary">pets</mat-icon> -->
                  <div class="traject-second-comp">
                    <span *ngIf="element.isfull">
                      <h4 class="disp-price">Complet</h4>
                    </span>
                    <span *ngIf="!element.isfull">
                      <h4 class="disp-price">{{element.price}} FCFA</h4>
                    </span>
                  </div>

                </div>
              </mat-card-content>
            </mat-card>
          </td>
        </ng-container>
        <ng-container matColumnDef="">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <!-- <button (click)="getPayments(element)" mat-raised-button color="primary">Payements</button> -->
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div>
  <footer >
    <mat-toolbar class="footer">
      <span>&copy; 2024 EvolBoost</span>
      <span class="spacer"></span>
      <a mat-button href="/about">À propos</a>
      <a mat-button href="/contact">Contact</a>
      <a mat-button href="/privacy">Politique de confidentialité</a>
    </mat-toolbar>
  </footer>
  
</div> -->