html, body {
  height: 100%;
  margin: 0;
}

mat-card-header {
    background-color: rgba(165, 6, 91, 0.192);
    /* max-width: 1200px;
    border-radius: 40px;
    overflow: hidden;  */
}

mat-card-content {
  background-color: transparent;
}

.search-header {
  background-color: rgba(165, 6, 91, 0.192);

  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 1200px;
  border-radius: 40px;
  overflow: hidden; 
  justify-content: center;
  margin-top: 10px;
}

.mat-mdc-card-content {
  padding: 0;
}

.container {
  padding: 10px;
}

.card-table {
background-color: transparent;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
}

.table-comp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: 10px 0;
  cursor: pointer;

  background-color: transparent;
}

.table-comp:hover {
  background-color: #4949494f;
}

.table-comp.disabled {
  background-color: #d3d3d32a; 
  cursor: not-allowed; 
  pointer-events: none;
}



@media (max-width: 1200px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 200px) {
  .card-table {
    width: 100%;
  }

  .search-custom {
    width: 100%;
  }

  .table-comp {
    flex-direction: column;
    align-items: flex-start;
  }

  .traject {
    flex-direction: column;
    align-items: flex-start;
  }

  .disp-depart, .disp-place, .disp-price, .disp-smoke {
    margin: 5px 0;
  }

  .search-header {
    background-color: rgba(211, 204, 208, 0.192);
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 1200px;
    border-radius: 4px;
    overflow: hidden; 
    justify-content: center;
  
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  /* .search-custom {
    width: 100%;
  } */

  .table-comp {
    width: 100%;
    height: 150px;
    
  }

  .search-header {
    background-color: rgba(192, 14, 115, 0.192);
    border-radius: 4px;
  }

/* 
  .traject {
    flex-direction: column;
    align-items: flex-start;
  }

  .disp-depart, .disp-place, .disp-price, .disp-smoke {
    margin: 5px 0;
  } */
}


.traject {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.traject p, .traject mat-icon {
  margin: 0 5px;
}

.traject span p, .traject span h4, .traject mat-icon {
  margin: 0 5px;
}

.disp-depart {
  margin-left: 70px;
  margin-right: 5px;
}

.disp-place {
  margin: 0 10px;
}

.disp-price, .disp-smoke {
  margin-left: 50px;
  background-color: #AD1457;
  margin-bottom: 40px;

}

.search-button {
  margin-left: 20px;
  margin-top: 10px;

  /* margin-top: 10px; */
  width: 150px;
  height: 54px;
  margin-top: 9px;
  border-radius: 20px;
}


.search-custom {
  margin-top: 10px;
  width: 200px;
}

.destination-input {
  margin-top: 10px;
  width: 200px;
  margin-left: 10px;
}


.custom-table {
  border: none;
  background-color: transparent;
}

.custom-table th, .custom-table td {
  border: none; 
}

.custom-table th {
  background-color: transparent;
}





/* foooooter  */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #41414159;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}


