<div class="contanair">
    <div class="profile-contenair">
        <mat-card>
            <mat-card-header>
                <h1>
                    Trajet
                </h1>
            </mat-card-header>
            <mat-card-content>
                <div class="depart-dest">
                    <mat-card class="depart">
                        <mat-card-header>
                            <mat-card-title>
                                Dakar
                            </mat-card-title>

                        </mat-card-header>
                        <mat-card-content>
                            (Auchan Mermoz)
                        </mat-card-content>
                    </mat-card>
                    <div class="arrow-icon">
                        <mat-icon>arrow_downward</mat-icon>
                    </div>
                    <mat-card class="depart">
                        <mat-card-header>
                            <mat-card-title>
                                Thies
                            </mat-card-title>

                        </mat-card-header>
                        <mat-card-content>
                            (Carrefour Lat-Dior)
                        </mat-card-content>
                    </mat-card>
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card class="card-2">
            <mat-card-header>
                <h1>
                    Info passagers
                </h1>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
         
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
  
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
 
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
   
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
        
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
      

                    </mat-list-item>
                    <mat-list-item>
          

                    </mat-list-item>
                </mat-list>

            </mat-card-content>
        </mat-card>
    </div>
</div>